<div id="contacto"></div>
<div class="tab_content_agencies animation-fadeIn">
    <section class="" style="padding: 0px 0px;">
        <div class="container">
            <div class="row" style="margin: 0px;">
                <div class="col-md-4 col-sm-4 text-center" style="padding: 10px;">
                	<h5 style="color: #000; text-transform: uppercase;"><span style="color:#7a7a7a;">JAGUAR LAND ROVER COUNTRY</span></h5>
                    <img src="img/logo/logo-jaguar-land-rover-contry.png" alt="Jaguar Land Rover Country" class="x-img x-img-none none agn_logo">
                </div>
                <div class="col-md-8 col-sm-8 text-left" style="font-size: 16px; padding: 10px;">
                    <div class="contact-method hidden-movil" style="padding: 10px 0 10px;">
                        <i class="fa fa-phone fa-fw fa-lg agn_icono" style="padding: 5px 5px 5px;"></i>
                        <span class="agn_span">
                        	<strong>Ventas: (33) 3818 - 7560</strong>
                        </span>
                    </div>

                    <div class="contact-method" style="padding: 10px 0 10px;">
                        <i class="icon pe-7s-map-marker fa-fw fa-lg agn_icono" style="padding: 5px 5px 5px;"></i>
                        <span class="agn_span">
                            Av. Circ. Jorge Álvarez del Castillo 1443 Jardines del Country 44610 Guadalajara, Jal. México.
                        </span>
                    </div>

                    <div class="contact-method" style="padding: 10px 0 10px;">
                        <i class="icon pe-7s-clock fa-fw fa-lg agn_icono" style="padding: 5px 5px 5px;"></i>
                        <span class="agn_span">
                            <strong>Ventas:</strong> Lunes a Viernes 09:00-20:00, Sábado de 9:00 a 3:00 y Domingo de 11:00 a 6:00.
                        </span>
                    </div>
                </div>
            </div><!--end of row-->
        </div><!--end of container-->

        <div class="container">
            <div class="row" style="margin: 0px;">
                <div class="col-md-12 text-center" id="social-buttons">
                	<a class="primaryLinkWithStyle plwsLight TargetLinks resp-button" href="http://landrovergdl.com.mx/" data-link-desktop="http://landrovergdl.com.mx/" data-target="current" id="get-view-web-site-event-ga" target="_blank">
                		<span><i class="fa fa-globe fa-2x fa-fw fa-lg"></i> SITIO WEB</span>
            		</a>
            		<a class="primaryLinkWithStyle plwsLight TargetLinks resp-button" href="https://www.google.com.mx/maps/place/Land+Rover+Guadalajara-Country/@20.7019482,-103.3666434,3a,75y,299h,90t/data=!3m8!1e1!3m6!1sYkzD4SKCbPwAAAQZai6FaA!2e0!3e2!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3DYkzD4SKCbPwAAAQZai6FaA%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D299.86887%26pitch%3D0!7i9912!8i4956!4m2!3m1!1s0x0:0x941918d50f14035f!6m1!1e1" data-link-desktop="https://www.google.com.mx/maps/place/Land+Rover+Guadalajara-Country/@20.7019482,-103.3666434,3a,75y,299h,90t/data=!3m8!1e1!3m6!1sYkzD4SKCbPwAAAQZai6FaA!2e0!3e2!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3DYkzD4SKCbPwAAAQZai6FaA%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D299.86887%26pitch%3D0!7i9912!8i4956!4m2!3m1!1s0x0:0x941918d50f14035f!6m1!1e1" data-target="current" id="get-view-street-view-event-ga" target="_blank">
                		<span><i class="fa fa-street-view fa-2x fa-fw fa-lg"></i> RECORRIDO VIRTUAL</span>
            		</a>
            		<a class="primaryLinkWithStyle plwsLight TargetLinks resp-button" href="https://www.facebook.com/LandroverGDL/" data-link-desktop="https://www.facebook.com/LandroverGDL/" data-target="current" id="get-view-facebook-event-ga" target="_blank">
                		<span><i class="fa fa-facebook fa-2x fa-fw fa-lg"></i> FACEBOOK</span>
            		</a>
            		<a class="primaryLinkWithStyle plwsLight TargetLinks resp-button visible-xs" href="tel:+3338187560" data-target="current" id="get-view-phone-event-ga">
                		<span><i class="fa fa-phone fa-2x fa-fw fa-lg"></i> LLAMANOS</span>
            		</a>
                    <a class="primaryLinkWithStyle plwsLight TargetLinks resp-button visible-xs" href="https://www.google.com/maps/place/JAGUAR+LAND+ROVER+Country/@20.701936,-103.366663,18z/data=!3m1!4b1!4m2!3m1!1s0x8428ae2f1cd291a3:0x941918d50f14035f" data-target="current" id="get-view-map-event-ga" target="_blank">
                        <span><i class="fa fa-globe fa-2x fa-fw fa-lg"></i> VER MAPA</span>
                    </a>

                    {{!--
                    <a id="get-call-us-event-ga" href="tel:+3338187550" class="button button-outline not-rounded sepia-lincoln bg-white-lincoln ptl pal pbl resp-button visible-xs">
                        <i class="fa fa-phone"></i> LLAMANOS
                    </a>
                    <a id="get-web-site-event-ga" href="http://lincolneurocavsa.mx/" class="button button-outline not-rounded sepia-lincoln bg-white-lincoln ptl pal pbl resp-button" target="_blank">
                        <i class="fa fa-globe"></i> SITIO WEB
                    </a>
                    <a id="get-facebook-event-ga" href="https://www.facebook.com/ViveLincoln" class="button button-outline not-rounded sepia-lincoln bg-white-lincoln ptl pal pbl resp-button" target="_blank">
                        <i class="fa fa-facebook"></i> FACEBOOK
                    </a>
                    <a id="get-twitter-event-ga" href="https://twitter.com/ViveLincoln" class="button button-outline not-rounded sepia-lincoln bg-white-lincoln ptl pal pbl resp-button" target="_blank">
                        <i class="fa fa-twitter"></i> TWITTER
                    </a>--}}
                </div>
            </div><!--end of row-->
        </div><!--end of container-->
        <div class="about-content">
            <div class="row">
                <div id="content-agencies-map" class="agentia-location"></div>
            </div><!--end of row-->
        </div><!--end of container-->
        {{!--<div class="container">
        <br>
            <div class="row">
                <div class="col-md-3 col-md-offset-9 col-sm-12 text-center" style="padding: 10px;">
                    <div class="contact-method" style="padding: 0px; margin-bottom: 0px;">
                        <a href="http://www.tierrafertil.com.mx/" target="_blank" class="partnes" title="Tierra Fertil">
                            <strong>Partners</strong>
                            <div class="partens-image-holder"></div>
                            {{!<img src="img/acuerdos/logo_tierrafertil_gris.png" alt="Tierra Fertil">}}
                        </a>
                    </div>
                </div>
            </div>
        </div>--}}
    </section>
</div>
