<!-- Start Site Header -->
{{!--<header id="header" class="navbar navigation-bar-header">--}}
    <div class="container sp-cont">
        <a class="visible-sm visible-xs mobile-toggle" id="menu-toggle">
            <!--<i class="fa fa-bars"></i>-->
            <div class="bar-1"></div>
            <div class="bar-2"></div>
        </a>
        <a class="visible-xs-home-link visible-sm visible-xs" id="go_home_logo_resp">
            <img alt="Logo" class="logo" src="img/logo/logo-audi.png" alt="Audi Guadalajara">
        </a>
        <!-- Main Navigation -->
        <nav class="main-navigation dd-menu toggle-menu navigation-bar" role="navigation">
            <a class="home-link main-navigator-home-link" id="go_home_logo">
                <span class="primary-text">Audi Guadalajara</span>
            </a>
            <ul class="sf-menu navigation-bar">
                {{!--
                <li><a id="go_home" href="#inicio" class="cur-hover">inicio</a></li>
                <li><a id="go_discovery_sport" href="#discovery-sport" class="cur-hover">Discovery Sport</a></li>
                <li><a id="go_jaguar_xe" href="#jaguar-xe" class="cur-hover">Jaguar XE</a></li>
                <li><a id="go_contact"  href="#contacto" class="cur-hover">Contacto</a></li>
                --}}
                <li><a id="go_home" href="#inicio" class="cur-hover">Inicio</a></li>
                <li><a id="go_audi_a1" href="#audi-a1" class="cur-hover">Audi A1</a></li>
                {{!--<li><a id="go_audi_a4" href="#audi-a4" class="cur-hover">Audi A4</a></li>--}}
                <li><a id="go_audi_q3" href="#audi-q3" class="cur-hover">Audi Q3</a></li>
                {{!--<li><a id="go_service" href="#servicio" class="cur-hover">Servicio</a></li>
                <li><a id="go_contact"  href="#contacto" class="cur-hover">Contacto</a></li>--}}
                <li><img alt="Logo" class="logo hidden-xs" src="img/logo/logo-audi.png" alt="Audi Guadalajara" style="width: 40%;"></li>
            </ul>
        </nav>
    </div>
{{!--</header>--}}
<!-- End Start Site Header -->