<header class="page-header parallax overlay-light-gradient-slider" id="set-banner" style="background-image: url(img/fservice/);">
	<div class="container">
		<h1 class="page-title text-center uppercase" id="content-title">SERVICIO</h1>
	</div>
</header>