<header class="page-header parallax overlay-light-gradient-slider" id="set-banner" style="background-image: url(img/financing/banner/);">
	{{!--<div class="container">
		<h1 class="page-title text-center uppercase" id="content-title"></h1>
	</div>--}}
</header>