<div id="content-financing-newform" class="content content-main full pt0i pb0i clearfix">
    <div class="col-md-12">
        <div class="row">
            <div class="financing_main">
                <div class="financing_content">
                    <div class="col-md-4 plr0 no-visible-xs">
                        <div class="col-md-12 pl0 pr0 pt25 pb25">
                            <div class="row">
                                <div id="model_select_preview" class="content-thumb-model"></div>
                            </div>
                            <div class="row">
                                <h3 id="model_select_title" class="secondary-title"></h3>
                            </div>
                            <div class="row text-center" id="button-return">
                                <a class="primaryLinkWithStyle plwsLight TargetLinks" id="primaryLinkWithStyle">
                                    <span><i class="fa fa-arrow-left fa-2x fa-fw fa-lg"></i> REGRESAR</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2 borderleft plr30 no-plr">
                        <div id="content-form-service"></div>
                        {{!--
                        <div id="form-wrapper" class="mt0 mb0">
                        </div>
                        <div id="funding_resume">
                            <div id="resume-message" class="funding-by-model-resume-message">
                                <h4 class="secondary-title">Gracias</h4>
                                <p>
                                    Tu cotización ha sido enviada a tu correo electrónico:
                                    <span id="funding_resume_email"></span>
                                </p>
                                <div class="funding-hidden-inputs">
                                    Te hemos asignado un asesor Jaguar Land Rover de la concesionaria
                                    <a id="funding_resume_concessionaire"></a>
                                    quien se pondrá en contacto contigo para confirmar tus datos y resolver cualquier duda
                                    que puedas tener.
                                </div>
                            </div>
                            <!--<div id="funding-resume-car" class="funding-by-model-resume-car">
                                <a id="tdr_end" class="button red">Finalizar</a>
                            </div>-->
                        </div>
                        <div id="financing-loader" class="form-loader" style="display: none;">
                            <div class="loader">
                                <div class="loader-wrap">
                                    <div class="loader-item"></div>
                                </div>
                            </div>
                        </div>
                        --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>