.contact_main .contact_content .contact_elements {
    width: 100%;
    height: auto;
    float: left;
}
#form-wrapper {
    margin-top: 31px;
}
.contact_main .contact_content .contact_elements .contact_element input,
.contact_main .contact_content .contact_elements .contact_element textarea {
	width:465px;
	/*margin-bottom: 0px;*/
}
.contact_main .contact_content .contact_elements .contact_element.a,
.contact_main .contact_content .contact_elements .contact_element.b,
.contact_main .contact_content .contact_elements .contact_element.ab {
	/*
	border:  1px solid red;
	*/
}
.contact_main .contact_content .contact_elements .contact_element.a{
	float:left;
	margin-right:1%;
}
.contact_main .contact_content .contact_elements .contact_element.b{
	float:right;
	margin-left:1%;
}
.contact_main .contact_content .contact_elements .contact_element.ab{
	float:none;
	height:auto;
	width:100%;
}
.contact_main .contact_content .contact_elements .contact_element.ab textarea{
	width:100%;
}
.contact_main .contact_content .contact_elements .contact_element.ab .invalid-message{
	width:100%;
    font-weight: bold;
}

.contact_main .contact_content .contact_elements .contact_element {
    height: auto;
    width: 49%;
}


/* invalid message */
.contact_main .contact_content .contact_elements .contact_element .invalid-message  {
  width: 100%;
  padding: 7px 10px;
  margin-top: -10px;
  background-color: #e1251b;
  color: #fff;
  font-size: 14px;
  position: relative;
  display: none;
}
.contact_main .contact_content .contact_elements .contact_element .invalid-message span {
    position: absolute;
    top: -10px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #e1251b;
}

/* submit */
.contact_main .contact_content .contact_elements .contact_element .contact-submit button {
    width: 100%;
}

/* Loader */
.loader {
  position: relative;
  top: -25px;
  bottom: 0;
  left: 40%;
  margin: 0;
  width: 0%;
  height: auto;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.78);
}
.form-loader.loader-short .loader {
  left: -145%;
}
.loader-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    -webkit-transform: translate(25%,125%);
    -ms-transform: translate(25%,125%);
    -o-transform: translate(25%,125%);
    transform: translate(25%,125%);
}
.loader-item {
	border: 5px solid rgba(23, 22, 23, 0.15);
	border-bottom-color: #e76900;
  width: 40px;
  height: 40px;
  margin-left: 17px;
  border-radius: 50%;
  -webkit-transition: all .9s ease-in-out;
  -o-transition: all .9s ease-in-out;
  transition: all .9s ease-in-out;
  /*-webkit-font-smoothing: antialiased!important;
  -webkit-animation: spin 1.7s linear infinite;
  -o-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;*/
}
.loader-wrap:before {
    position: absolute;
    top: 8px;
    left: 10px;
    content: '';
    width: 40px;
    height: 40px;
    /*background-image: url(../../img/logo/loader-logo-suzuki-02.png);*/
    background-size: 75%;
    background-repeat: no-repeat;
    color: transparent;
}
.loader-wrap:after {
    position: fixed;
    content: 'PROCESANDO';
    color: #000;
    left: -14px;
    right: 0;
    top: -25px;
    font-weight: bold;
}
.loader-item {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.loader-item {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* form thanks */
.form-thanks {
  text-align:center;
  width:100%;
  margin-top:30px;
  position:relative;
}
.form-thanks.thanks-short {
  width: 100%;
}
.form-thanks .agradecimiento_titulo {
  color:#003751;
  font-size:25px;
  font-weight:400;
}
.form-thanks .agradecimiento_titulo2 {
  font-size:16px;
  font-weight:bold;
}
.form-thanks .agradecimiento_titulo3 {
  color:#000000;
  font-size:14px;
  font-weight:300;
  font-style:italic;
}
.form-thanks hr {
  border:0;
  width:100%;
  color:#f00;
  background-color:#dfdfdf;
  height:1px;
}
.form-thanks .arrow {
  position:absolute;
  bottom:-65px;
  right:-61px;
  z-index:9;
}
@media only screen and (max-width: 767px){
	.jx-container.jx-padding {
		padding: 50px 0;
	}
	.contact_main {
		width:100%;
		margin:0 auto;
	}
	.contact_main .contact_content {
		width:100%;
		float:none;
		overflow:hidden;
	}
	.contact_main .contact_content .contact_elements {
		width:100%;
		height:auto;
	}
	.contact_main .contact_content .contact_elements .contact_element,
	.contact_main .contact_content .contact_elements .contact_element.a,
	.contact_main .contact_content .contact_elements .contact_element.b,
	.contact_main .contact_content .contact_elements .contact-element.ab {
		width:100%;
		height:auto !important;
		float:none;
		min-height:20px;
		margin:0;
	}
	.contact_main .contact_content .contact_elements .contact_element p,
	.contact_main .contact_content .contact_elements .contact_element.a p,
	.contact_main .contact_content .contact_elements .contact_element.b p,
	.contact_main .contact_content .contact_elements .contact-element.ab p {
		margin:0 0 5px 0;
	}
	.contact_main .contact_content .contact_elements .contact_element p label,
	.contact_main .contact_content .contact_elements .contact_element.a p label,
	.contact_main .contact_content .contact_elements .contact_element.b p label,
	.contact_main .contact_content .contact_elements .contact-element.ab p label {
		font-weight:bold;
		font-size:14px;
	}
	.contact_main .contact_content .contact_elements .contact_element .invalid-message,
	.contact_main .contact_content .contact_elements .contact_element.a .invalid-message,
	.contact_main .contact_content .contact_elements .contact_element.b .invalid-message,
	.contact_main .contact_content .contact_elements .contact-element.ab .invalid-message {
		margin:10px 0 0;
		width:96% !important;
		padding:7px 2%;
	}
	.contact_main .contact_content .contact_elements .contact_element input,
	.contact_main .contact_content .contact_elements .contact_element .icon,
	.contact_main .contact_content .contact_elements .contact_element textarea,
	.contact_main .contact_content .contact_elements .contact_element.a input,
	.contact_main .contact_content .contact_elements .contact_element.a .icon,
	.contact_main .contact_content .contact_elements .contact_element.a textarea,
	.contact_main .contact_content .contact_elements .contact_element.b input,
	.contact_main .contact_content .contact_elements .contact_element.b .icon,
	.contact_main .contact_content .contact_elements .contact_element.b textarea,
	.contact_main .contact_content .contact_elements .contact-element.ab input,
	.contact_main .contact_content .contact_elements .contact-element.ab .icon,
	.contact_main .contact_content .contact_elements .contact-element.ab textarea {
		width:100%;
		min-width:100% !important;
		padding:13px 2% !important;
	}
	.contact_main .contact_content .contact_elements .contact_element textarea,
	.contact_main .contact_content .contact_elements .contact_element.a textarea,
	.contact_main .contact_content .contact_elements .contact_element.b textarea,
	.contact_main .contact_content .contact_elements .contact-element.ab textarea {
		margin:0;
	}
}
@media only screen and (max-device-width: 767px){}