.icon-Accessories { background-image: url('png/Accessories.png'); background-repeat: no-repeat; }

.icon-Accordian_Minus { background-image: url('png/Accordian_Minus.png'); background-repeat: no-repeat; }

.icon-Accordian_Plus { background-image: url('png/Accordian_Plus.png'); background-repeat: no-repeat; }

.icon-Back_Chevron_grey { background-image: url('png/Back_Chevron_grey.png'); background-repeat: no-repeat; }

.icon-Brochure { background-image: url('png/Brochure.png'); background-repeat: no-repeat; }

.icon-Build { background-image: url('png/Build.png'); background-repeat: no-repeat; }

.icon-Calculator { background-image: url('png/Calculator.png'); background-repeat: no-repeat; }

.icon-Carousel_arrow_left { background-image: url('png/Carousel_arrow_left.png'); background-repeat: no-repeat; }

.icon-Carousel_arrow_right { background-image: url('png/Carousel_arrow_right.png'); background-repeat: no-repeat; }

.icon-Chevron_black { background-image: url('png/Chevron_black.png'); background-repeat: no-repeat; }

.icon-Chevron_down_white { background-image: url('png/Chevron_down_white.png'); background-repeat: no-repeat; }

.icon-Chevron_red { background-image: url('png/Chevron_red.png'); background-repeat: no-repeat; }

.icon-Chevron_up_white { background-image: url('png/Chevron_up_white.png'); background-repeat: no-repeat; }

.icon-Concierge_active { background-image: url('png/Concierge_active.png'); background-repeat: no-repeat; }

.icon-Contact { background-image: url('png/Contact.png'); background-repeat: no-repeat; }

.icon-Drive { background-image: url('png/Drive.png'); background-repeat: no-repeat; }

.icon-Globe { background-image: url('png/Globe.png'); background-repeat: no-repeat; }

.icon-Hamburger_active { background-image: url('png/Hamburger_active.png'); background-repeat: no-repeat; }

.icon-Hamburger_close { background-image: url('png/Hamburger_close.png'); background-repeat: no-repeat; }

.icon-Info_active { background-image: url('png/Info_active.png'); background-repeat: no-repeat; }

.icon-Info_active_12px { background-image: url('png/Info_active_12px.png'); background-repeat: no-repeat; }

.icon-Info_inactive { background-image: url('png/Info_inactive.png'); background-repeat: no-repeat; }

.icon-Info_inactive_12px { background-image: url('png/Info_inactive_12px.png'); background-repeat: no-repeat; }

.icon-Jag_logo_BW { background-image: url('png/Jag_logo_BW.png'); background-repeat: no-repeat; }

.icon-KMI { background-image: url('png/KMI.png'); background-repeat: no-repeat; }

.icon-Location { background-image: url('png/Location.png'); background-repeat: no-repeat; }

.icon-Models_active { background-image: url('png/Models_active.png'); background-repeat: no-repeat; }

.icon-Plus_black { background-image: url('png/Plus_black.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_disabled_left { background-image: url('png/Modern_Caro_arrow_disabled_left.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_disabled_right { background-image: url('png/Modern_Caro_arrow_disabled_right.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_hover_left { background-image: url('png/Modern_Caro_arrow_hover_left.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_hover_right { background-image: url('png/Modern_Caro_arrow_hover_right.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_left { background-image: url('png/Modern_Caro_arrow_left.png'); background-repeat: no-repeat; }

.icon-Modern_Caro_arrow_right { background-image: url('png/Modern_Caro_arrow_right.png'); background-repeat: no-repeat; }

.icon-Popover_mobile_X { background-image: url('png/Popover_mobile_X.png'); background-repeat: no-repeat; }

.icon-Popover_right_icon { background-image: url('png/Popover_right_icon.png'); background-repeat: no-repeat; }

.icon-Search { background-image: url('png/Search.png'); background-repeat: no-repeat; }

.icon-Search_active { background-image: url('png/Search_active.png'); background-repeat: no-repeat; }

.icon-Slider_grip { background-image: url('png/Slider_grip.png'); background-repeat: no-repeat; }

.icon-Swipe_icon { background-image: url('png/Swipe_icon.png'); background-repeat: no-repeat; }

.icon-accessories--red { background-image: url('png/accessories--red.png'); background-repeat: no-repeat; }

.icon-brochure--red { background-image: url('png/brochure--red.png'); background-repeat: no-repeat; }

.icon-build--red { background-image: url('png/build--red.png'); background-repeat: no-repeat; }

.icon-calculator--red { background-image: url('png/calculator--red.png'); background-repeat: no-repeat; }

.icon-car--black { background-image: url('png/car--black.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('png/car.png'); background-repeat: no-repeat; }

.icon-chevron--black { background-image: url('png/chevron--black.png'); background-repeat: no-repeat; }

.icon-chevron--grey { background-image: url('png/chevron--grey.png'); background-repeat: no-repeat; }

.icon-chevron--red { background-image: url('png/chevron--red.png'); background-repeat: no-repeat; }

.icon-chevron--white { background-image: url('png/chevron--white.png'); background-repeat: no-repeat; }

.icon-close--black { background-image: url('png/close--black.png'); background-repeat: no-repeat; }

.icon-drive--red { background-image: url('png/drive--red.png'); background-repeat: no-repeat; }

.icon-envelop--red { background-image: url('png/envelop--red.png'); background-repeat: no-repeat; }

.icon-globe--grey { background-image: url('png/globe--grey.png'); background-repeat: no-repeat; }

.icon-hamburger--black { background-image: url('png/hamburger--black.png'); background-repeat: no-repeat; }

.icon-location--red { background-image: url('png/location--red.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-phone--black { background-image: url('png/phone--black.png'); background-repeat: no-repeat; }

.icon-phone--red { background-image: url('png/phone--red.png'); background-repeat: no-repeat; }

.icon-plus--black { background-image: url('png/plus--black.png'); background-repeat: no-repeat; }

.icon-search--grey { background-image: url('png/search--grey.png'); background-repeat: no-repeat; }

.icon-search--red { background-image: url('png/search--red.png'); background-repeat: no-repeat; }

