.m-tile__element-1-67 {position:absolute;top:56.76495927318296%;left:14.258424764890282%;width:41.22257053291536%;}
          .m-tile__element-3-65 {position:absolute;top:4.504945224389098%;left:8.299288854329937%;width:40.43887147335423%;}
      .m-tile__element-3-66 {position:absolute;top:5.376111176378446%;left:52.35109717868338%;width:44.20062695924765%;}
  
@media  only screen and (min-width: 48em) {
            .m-tile__element-1-67 {position:absolute;top:62.978749972018264%;left:16.093453510436433%;width:28.55787476280835%;}
                      .m-tile__element-3-65 {position:absolute;top:3.621395952722063%;left:1.1547723292469352%;width:31.17338003502627%;}
          .m-tile__element-3-66 {position:absolute;top:24.34634670487106%;left:1.7868870402802102%;width:31.34851138353765%;}
      }