body.gradient{

	background: #EEEEEE;	

}



.imageCheck input[type=checkbox], .imageCheck input[type=radio], .searchbox {

	display:none;

}



input[type=checkbox].searchbox{

	

}



.imageCheck input[type=checkbox] + label span, .imageCheck input[type=radio] + label span{

	width: 100%;

	height: auto;

	display: block;

	position: absolute;

	margin: auto;

	text-align: center;

	font-size: 14px;

	opacity: 0;

	-webkit-transition: all 0.6s linear;

	-moz-transition: all 0.6s linear;

	-o-transition: all 0.6s linear;

	-ms-transition: all 0.6s linear;

	transition: all 0.6s linear;

	color: #000000;

	padding: 5px 0;

	font-size: 14px;

	line-height: 16px;

}



.imageCheck input[type=checkbox]:checked + label span, .imageCheck input[type=radio]:checked + label span, .imageCheck input[type=checkbox] + label:hover span, .imageCheck input[type=radio] + label:hover span{

	/*background: rgba(0,0,0,0.7);*/

	opacity: 1;

	color: #003057;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}



.col-md-1 input[type=checkbox]:checked + label span, .col-md-1 input[type=radio].center:checked + label span  {

	display: none;	

	

}



.imageCheck input[type=checkbox] + label, .imageCheck input[type=radio] + label {

}



.imageCheck label {

	position: relative;

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	width: 100%;

	height: inherit;

	z-index: 0;

	overflow: hidden;

	cursor: pointer;

}



.imageCheck input[type=checkbox] + label {

}



.imageCheck input[type=checkbox] + label img, .imageCheck input[type=radio] + label img{

	position: relative;

	left: 0;

	opacity: 0.6;

	width: 100%;

	-webkit-transition: all 0.5s linear;

	-moz-transition: all 0.5s linear;

	-o-transition: all 0.5s linear;

	-ms-transition: all 0.5s linear;

	transition: all 0.5s linear;

	    margin: 0px 0 20px 0;

}



.imageCheck input[type=checkbox] + label img:hover, .imageCheck input[type=radio] + label img:hover{

	height: inherit;

	opacity: 0.8;

	-webkit-transition: all 0.3s linear;

	-moz-transition: all 0.3s linear;

	-o-transition: all 0.3s linear;

	-ms-transition: all 0.3s linear;

	transition: all 0.3s linear;

}



.imageCheck input[type=checkbox]:checked + label img, .imageCheck input[type=radio]:checked + label img{

	z-index: -1;

	left: 0;

	opacity: 1;

	-webkit-transition: all 0.6s linear;

	-moz-transition: all 0.6s linear;

	-o-transition: all 0.6s linear;

	-ms-transition: all 0.6s linear;

	transition: all 0.6s linear;

}



.imageCheck label:after{

	    font-family: 'Glyphicons Halflings';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    transition: all 0.6s linear;
    font-size: 13px;
    /* border: 2px solid #FFF; */
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    padding: 0;
    background: #8ea76d;
    margin: 0;

}





/*Variations*/

.imageCheck.cloud label:after{

	content: "\2601";

}



.imageCheck.flag label:after{

	content: "\e013";

}



.imageCheck.heart label:after{

	content: "\e005";

}



.imageCheck.star label:after{

	content: "\e013";

}



.imageCheck.asterisk label:after{

	content: "\2a";

}



.imageCheck.plus label:after{

	content: "\e081";

}





.imageCheck.center input[type=checkbox]:checked + label:after, .imageCheck.center input[type=radio]:checked + label:after{

	left: 0;

	right: 0;

	top: 0;

	bottom:0;

	margin: auto;

}





.imageCheck.center-top input[type=checkbox]:checked + label:after, .imageCheck.center-top input[type=radio]:checked + label:after{

	left: 0;

	right: 0;

	top: 20px;

	margin: auto;

}



.imageCheck.center-bottom input[type=checkbox]:checked + label:after, .imageCheck.center-bottom input[type=radio]:checked + label:after{

	left: 0;

	right: 0;

	bottom: 20px;

	margin: auto;

}



.imageCheck.bottom-right input[type=checkbox]:checked + label:after, .imageCheck.bottom-right input[type=radio]:checked + label:after{

	right: 10px;

	top:12px;

	margin: 0;

	padding: 0;

}



.imageCheck.bottom-left input[type=checkbox]:checked + label:after, .imageCheck.bottom-right input[type=radio]:checked + label:after{

	left: 5px;

	bottom:15px;

	margin: 0;

	padding: 0;

}





.imageCheck.top-left input[type=checkbox]:checked + label:after, .imageCheck.top-left input[type=radio]:checked + label:after{

	left: 0;

	top: 10px;

	margin: 0;

	padding: 0;

}



.imageCheck.top-right input[type=checkbox]:checked + label:after, .imageCheck.top-left input[type=radio]:checked + label:after{

	right: 0;

	top:10px;

	margin: 0;

	padding: 0;

}



.imageCheck.center input[type=checkbox] + label span, .imageCheck.center input[type=radio] + label span{

	bottom: 10px;

	left: 0;

	right: 0;

	margin: auto;

	border-top: 1px solid rgba(255,255,255,0.7);

}





.imageCheck.bottom-right  input[type=checkbox] + label span, .imageCheck.bottom-right input[type=radio]+ label span{

	bottom: -5px;

	right: 0;

	margin: 0;

	/*border-bottom: 1px solid rgba(255,255,255,0.7);*/

}



.imageCheck.bottom-left  input[type=checkbox] + label span, .imageCheck.top-left input[type=radio]+ label span{

	top: 10px;

	right: 0;

	margin: 0;

	border-bottom: 1px solid rgba(255,255,255,0.7);

}



.imageCheck.top-left  input[type=checkbox] + label span, .imageCheck.top-left input[type=radio]+ label span,

.imageCheck.top-right  input[type=checkbox] + label span, .imageCheck.top-right input[type=radio]+ label span,

.imageCheck.center-top  input[type=checkbox] + label span, .imageCheck.center-top input[type=radio]+ label span,

.imageCheck.center-bottom  input[type=checkbox] + label span, .imageCheck.center-bottom input[type=radio]+ label span

{

	top: 0;

	bottom: 0;

	left: 0;

	right: 0;

	margin: auto;

	height: 30px;

	border-top: 1px solid rgba(255,255,255,0.7);

	border-bottom: 1px solid rgba(255,255,255,0.7);

}









/*Rounded Option*/



.imageCheck.round input:checked + label img {

	-webkit-border-radius: 999px;

	-moz-border-radius: 999px;

	border-radius: 999px;

	-webkit-transition: all 0.3s linear;

	-moz-transition: all 0.3s linear;

	-o-transition: all 0.3s linear;

	-ms-transition: all 0.3s linear;

	transition: all 0.3s linear;

}



.imageCheck.round input + label img {

	-webkit-border-radius: 0;

	-moz-border-radius: 0;

	border-radius: 0;

	-webkit-transition: all 0.6s linear;

	-moz-transition: all 0.6s linear;

	-o-transition: all 0.6s linear;

	-ms-transition: all 0.6s linear;

	transition: all 0.6s linear;

}





.imageCheck.round input[type=checkbox]:checked + label span, .imageCheck.round input[type=radio]:checked + label span {

	display: none;

}







/*Zoom Option*/



.imageCheck.zoom input:checked + label img{

	-webkit-transform: scale(1.25);

	-moz-transform: scale(1.25);

	transform:scale(1.25);

	-o-transform: scale(1.25);

}





/*Shadow Option*/



.imageCheck.light-shadow input[type=checkbox]:checked + label img, .imageCheck.light-shadow input[type=radio]:checked + label img, .imageCheck.light-shadow input[type=checkbox]:hover + label img, .imageCheck.light-shadow input[type=radio]:hover + label img {

	-moz-box-shadow: 0 0 5px #FFF;

	-webkit-box-shadow: 0 0 5px #FFF;

	box-shadow: 0 0 5px #FFF;

}



.imageCheck.dark-shadow input[type=checkbox]:checked + label img, .imageCheck.dark-shadow input[type=radio]:checked + label img, .imageCheck.dark-shadow input[type=checkbox]:hover + label img, .imageCheck.dark-shadow input[type=radio]:hover + label img {

	-moz-box-shadow: 0 0 5px #333333;

	-webkit-box-shadow: 0 0 5px #333333;

	box-shadow: 0 0 5px #333333;

}

