<div class="jx-section-title-1">            
    <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
    <div class="jx-title-position">
        <div class="jx-left-border"></div>
        <div class="jx-title jx-uppercase">Impresos</div>
        <div class="jx-right-border"></div>
    </div>
    {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>--}}
</div>    
<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li><img src="img/servicios/banners/impresos/servicios-alta-resolucion.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-corte-1.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-corte-2.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-digital-1.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-digital-2.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-gran-formato.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-offset-1.jpg" alt="" /></li>
            <li><img src="img/servicios/banners/impresos/servicios-offset-2.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content"> 
    <div class="eight columns alpha">
        <div class="jx-section-title-2">
            {{!!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
            <div class="jx-title">GRAN FORMATO</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>Las Impresiones en Gran Formato se utilizan para imprimir lonas, banners, carteles, vallas y  señalización en general a un distancia mínima de 5 mts.</p>
        <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>
        <p>Tenemos la capacidad de imprimir en gran formato y alta resolución en los siguientes materiales:</p>
        <p>Lona, lona blockout, lona mech, vinil  blanco y transparente autoadherible, vinil blanco y transparente estático (para ventanas), vinil micro perforado y lona translúcida para caja de luz.</p>
        <hr>
        <div class="jx-section-title-2">
            {{!!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
            <div class="jx-title">CORTE</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>El corte o suajado sirve para generar formas en los materiales. </p>
        <p>Esta técnica es útil para darle un toque más personalizado a tus impresos y pueden realizarse en todo tipo de formas y papeles.</p>
        <hr>
        <div class="jx-section-title-2">
            {{!!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
            <div class="jx-title">ALTA RESOLUCIÓN</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>Las impresiones de alta resolución se utilizan para señalización generalmente en interiores.</p>
        <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>
        <p>Tenemos la capacidad de imprimir en  los siguientes materiales:</p>
        <p>Lona, lona translúcida, lona mech, vinil  blanco y transparente autoaderible, vinil blanco y transparente estático (para ventanas), vinil micro perforado, papel mate, semímate y fotográfico, backlight para caja de luz y canvass.</p>
    </div>
    <div class="eight columns omega">
        <div class="jx-section-title-2">
            {{!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
            <div class="jx-title">DIGITAL</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>La impresión digital es un proceso que consiste en la impresión directa de un archivo digital a papel, por diversos medios, siendo el más común la tinta en impresora inyección de tinta (cartuchos), y tóner en impresora láser.</p>
        <p>Este proceso es ideal para proyectos de impresión de bajo volumen y tiempos de entrega sumamente cortos, ya que una de las principales ventajas que ofrece es la disponibilidad casi inmediata de los impresos, pues no requiere tiempo de secado o enfriamiento al no trabajar con tintas, como la tradicional impresión offset.</p>
        <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>
        <p>Etiquetas, tarjetas, volantes, posters, trípticos, dípticos, calendarios, diplomas, menús, proyectos especiales, etc…</p>
        <hr>
        <div class="jx-section-title-2">
            {{!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
            <div class="jx-title">OFFSET</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>Es un método de impresión que consiste en aplicar una tinta, generalmente oleosa, sobre una plancha metálica compuesta de una aleación de aluminio.</p>
        <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>
        <p>Tarjetas, volantes, pósters, catálogos, revistas, trípticos, dípticos, calendarios, postales, calcomanías, etc…</p>
    </div>
</div>