<div class="jx-section-title-1">            
    <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
    <div class="jx-title-position">
        <div class="jx-left-border"></div>
        <div class="jx-title jx-uppercase">Promocionales</div>
        <div class="jx-right-border"></div>
    </div>
    {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>--}}
</div>  
<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li><img src="img/servicios/banners/promocionales/servicios-promocionales.jpg" alt="SERVICIOS PROMOCIONALES" /></li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content"> 
    <div class="row">
        <div class="col-md-12">
            <p style="font-size: 16px;">
                El correcto uso de los artículos promocionales puede ser la diferencia entre lograr una venta y no hacerla; generalmente tienen un doble propósito, tanto de promover la compañía como sus productos y servicios. En PrintShop Mkt ofrecemos lo mejor para tu negocio y abarcamos una amplia variedad de artículos como:
            </p>
            <div class="jx-blog-tag">
                <ul>
                    <li><a>Plumas</a></li>
                    <li><a>Llaveros</a></li>
                    <li><a>Playeras</a></li>
                    <li><a>Tazas</a></li>
                    <li><a>Gorras</a></li>
                    <li><a>Cilindros y mucho más</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>