<div class="jx-section-title-1">            
    <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
    <div class="jx-title-position">
        <div class="jx-left-border"></div>
        <div class="jx-title jx-uppercase">Proyectos Especiales</div>
        <div class="jx-right-border"></div>
    </div>
    {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>--}}
</div>  
<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li>
                <img src="img/servicios/banners/especiales/servicios-proyectos-especiales-1.jpg" alt=". . .">
            </li>
            <li>
                <img src="img/servicios/banners/especiales/servicios-proyectos-especiales-2.jpg" alt=". . .">
            </li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content"> 
    <div class="row">
        <div class="col-md-12">
            <p style="font-size: 16px;">Desarrollamos proyectos totalmente personalizados que se adecúen a las necesidades de tu empresa o negocio como:</p>
            <div class="jx-blog-tag">
                <ul>
                    <li><a>Dummys.</a></li>
                    <li><a>Diseño y elaboración de empaques.</a></li>
                    <li><a>carpetas y más</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>