<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li><img src="img/banner/stock-slider-4.jpg" alt="" /></li>
            <li><img src="img/banner/stock-slider-5.jpg" alt="" /></li>
            <li><img src="img/banner/stock-slider-3.jpg" alt="" /></li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content"> 
    <div class="eight columns alpha">
        <div class="jx-section-title-3">
            <div class="jx-title jx-uppercase small-text">Service Overview</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
    
    <div class="eight columns omega">
        <div class="jx-section-title-3">
            <div class="jx-title jx-uppercase small-text">Project Control</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
    </div>
</div>