<div class="jx-rev-slider-holder">
    <div class="tp-banner-container home-slider-1">
        <div class="tp-banner" >
            <ul>
                <!-- SLIDE#1 -->
                <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="img/banner/banner-impresion-digital.jpg"  alt="Impresión Digital"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="jx-caption-big-1 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        IMPRESION DIGITAL 
                    </div>
                    <div class="jx-caption-big-icon tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0 get-slider-service"
                        data-x="393"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        data-serv-key="impresos"
                        data-serv-name="Impresos"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="jx-caption-big-2 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="340"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1100"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9">
                        Ideal para pequeñas cantidades y trabajos urgentes.
                    </div>
                    <!-- LAYER NR. 3 -->
                </li>
                <!-- SLIDE#2 -->
                <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="img/banner/banner-impresion-offset.jpg"  alt="Impresión Offset"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="jx-caption-big-1 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        IMPRESION OFFSET
                    </div>
                    <div class="jx-caption-big-icon tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0 get-slider-service"
                        data-x="396"
                        data-y="250"
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        data-serv-key="impresos"
                        data-serv-name="Impresos"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                     <!-- LAYER NR. 2 -->
                    <div class="jx-caption-big-2 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="340" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1100"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9">
                        Ideal para cantidades arriba de 1,000 piezas, excelente calidad, <br>puedes agregar infinidad de terminados para hacer de tu proyecto algo original.
                    </div>
                    <!-- LAYER NR. 3 -->
                </li>
                <!-- SLIDE#3 -->
                <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="img/banner/banner-todo-en-vinyl.jpg"  alt="Todo en Vinyl"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="jx-caption-big-1 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        TODO EN VINYL
                    </div>
                    <div class="jx-caption-big-icon tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0 get-slider-service"
                        data-x="396"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        data-serv-key="todo-en-vinil"
                        data-serv-name="Todo en Vinyl"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                     <!-- LAYER NR. 2 -->
                    <div class="jx-caption-big-2 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="340" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1100"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9">
                        Ideal para rotular escaparates con la imagen de la empresa <br> o la promoción de temporada, hay infinidad de aplicaciones.
                    </div>
                    <!-- LAYER NR. 3 -->
                </li>
                <!-- SLIDE#4 -->
                <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="img/banner/banner-pop.jpg"  alt="Material P.O.P"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="jx-caption-big-1 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        MATERIAL POP
                    </div>
                    <div class="jx-caption-big-icon tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0 get-slider-service"
                        data-x="396"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        data-serv-key="pop"
                        data-serv-name="P.O.P"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                     <!-- LAYER NR. 2 -->
                    <div class="jx-caption-big-2 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="340" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1100"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9">
                        Gráficos y estructuras para punto de venta y showroom, <br> resalta las ventajas de tu producto de una forma original y llamativa.
                    </div>
                    <!-- LAYER NR. 3 -->
                </li>
                <!-- SLIDE#5 -->
                <li data-transition="slideleft" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="img/banner/banner-proyectos-especiales.jpg"  alt="Proyectos Especiales"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="jx-caption-big-1 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        PROYECTOS ESPECIALES
                    </div>
                    <div class="jx-caption-big-icon tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0 get-slider-service"
                        data-x="396"
                        data-y="250" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="800"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        data-serv-key="proyectos-especiales"
                        data-serv-name="Proyectos Especiales"
                        style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                     <!-- LAYER NR. 2 -->
                    <div class="jx-caption-big-2 tp-caption grey_regular_18 customin tp-resizeme rs-parallaxlevel-0"
                        data-x="-105"
                        data-y="340" 
                        data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-speed="500"
                        data-start="1100"
                        data-easing="Power3.easeInOut"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.05"
                        data-endelementdelay="0.1"
                        style="z-index: 9">
                        Acercase con nosotros, te asesoramos para hacer de tu proyecto algo original y redituable.
                    </div>
                    <!-- LAYER NR. 3 -->
                </li>
            </ul>
        </div>
    </div>
</div>