<div class="jx-section-title-1">            
    <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
    <div class="jx-title-position">
        <div class="jx-left-border"></div>
        <div class="jx-title jx-uppercase">P.O.P.</div>
        <div class="jx-right-border"></div>
    </div>
    {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>--}}
</div>  
<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li><img src="img/servicios/banners/pop/servicio-estructuras.jpg" alt="Estructuras"></li>
            <li><img src="img/servicios/banners/pop/servicios-p-o-p.jpg" alt="P.O.P."></li>
            <li><img src="img/servicios/banners/pop/servicios-roll-ups.jpg" alt="Roll Ups"></li>
            <li><img src="img/servicios/banners/pop/servicios-senalizacion-1.jpg" alt="Señalización"></li>
            <li><img src="img/servicios/banners/pop/servicios-senalizacion-2.jpg" alt="Señalización"></li>
            <li><img src="img/servicios/banners/pop/servicios-senalizacion-3.jpg" alt="Señalización"></li>
            <li><img src="img/servicios/banners/pop/servicios-stands-portatiles-1.jpg" alt="Stands Portatiles"></li>
            <li><img src="img/servicios/banners/pop/servicios-stands-portatiles-2.jpg" alt="Stands Portatiles"></li>
            </li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content">
    <div class="row">
        <div class="col-md-6">
            <p style="font-size: 16px;">La publicidad Point Of Purchase o punto de venta te permite convertir un espacio de exhibición en un lugar original pocos minutos y con muy poco esfuerzo, con sus estructuras ligeras, ideales para montajes en interiores o exteriores  en exposiciones o stands.</p>
            <p style="font-size: 16px;">La estructura, las gráficas, los focos y todos los elementos caben dentro de los baúles de transporte, que pueden ser uno o varios dependiendo del tamaño de la estructura Pop Up.</p>
        </div>
        <div class="col-md-6"><div class="jx-sercvice-list">
            <ul>
                <li>STANDS PORTÁTILES</li>
                <li>SEÑALIZACIÓN</li>
                <li>ROLL UPS</li>
                <li>ESTRUCTURAS</li>
            </ul>
        </div>
    </div>
</div>