<div class="container">
	<div class="eight columns">
    	<div class="jx-image-placholder jx-image-wrapper"><img src="img/banner/stock-1.jpg" alt="">
        <div class="jx-image-over">
        	<div class="jx-play-btn"><a href="https://youtu.be/hr3QyhiD50k" data-rel="prettyPhoto"><i class="fa fa-play"></i></a></div>
        </div>
        </div>
    </div>
    
    <div class="eight columns">
    	<div class="jx-section-title-2">
            <div class="jx-title jx-uppercase">¿Quiénes somos?</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <!-- Section Title -->
        
        <p>
            PrintShop MKT ,  es una agencia de impresión que ofrece soluciones integrales y plasma sus ideas con estrategias de vanguardia para lograr el éxito de los productos con excelente calidad, servicio y tiempo de entrega.
        </p>   

        <div class="jx-section-title-2">
            <div class="jx-title jx-uppercase">Visión</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <!-- Section Title -->

        <p>
            Somos una agencia de impresión que ofrece soluciones integrales a las necesidades específicas de nuestros clientes y los ayudamos a resolverlas con planes estratégicos en las áreas de impresión y marketing.
        </p>

        <div class="jx-section-title-2">
            <div class="jx-title jx-uppercase">Misión</div>
            <div class="jx-seperator-hr"></div>
        </div>
        <!-- Section Title -->

        <p>
            Desarrollar sus proyectos con gran calidad y profesionalismo, ofreciendo siempre soluciones tangibles a sus ideas con un excelente servicio y calidad.
        </p>
    </div>
</div>