<!-- BDF widget FOOTER -->        
<div class="jx-footer jx-container">
    <div class="container">
        <!-- BOF Footer widget #1 -->
        <div class="four columns">
            <div class="widget">
                <!-- footer logo -->
                <div class="jx-footer-logo">
                    <a href="index.html"><img src="img/logo/logo-print-shop.png" alt="PRINT SHOP MKT." /></a>
                </div>
                <div class="jx-about">
                    <div class="jx-title-border"></div>
                    <p>
                        Ofrecemos soluciones integrales a las necesidades específicas de nuestros clientes y los ayudamos a resolverlas con planes estratégicos en las áreas de impresión y marketing.
                    </p>
                    <!-- Content -->
                </div>
            </div><!-- About Us -->
            <div class="jx-border no-top-padding"></div>
            <div class="widget">
                <div class="jx-footer-title">Contacto</div>
                <!-- widget Title -->
                <div class="jx-footer-address">
                    <ul>
                        <li>
                            <i class="line-icon icon-location"></i>
                            <div>Manuel Acuña #2791, C.P. 44630, Col. Providencia, Guadalajara, Jal.</div>
                        </li>
                        <li>
                            <i class="line-icon icon-mobile"></i>
                            <div class="tel"><a class="hvr-underline-from-center" href="tel:+013316187536">01 (33) 16.18  75.36</a></div>
                            <div class="tel"><a class="hvr-underline-from-center" href="tel:+013315236595">01 (33) 15.23  65.95</a></div>
                        </li>
                        <li>
                            <i class="line-icon icon-globe"></i>
                            <div class="email"><strong>Correo :</strong> <a class="hvr-underline-from-center" href="mailto:contacto@printshopmkt.com?subject=Contacto Print Shop MKT" "Envíanos un correo">contacto@printshopmkt.com</a></div>
                        </li>
                    </ul>
                </div>
                <!-- Contact Address -->
            </div>
        </div>
        <!-- EOF Footer widget #1 -->
        <!-- BOF Footer widget #2-->
        <div class="four columns">
            <div class="widget">
                <div class="jx-footer-title">SERVICIOS</div>
                <!-- widget Title -->
                <div class="jx-widget-recent-post">
                    <ul>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/promocionales.jpg" alt="SERVICIO PROMOCIONALES." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="promocionales" data-serv-name="Promocionales">PROMOCIONALES</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/todoenvinyl.jpg" alt="SERVICIO RECORTE DE VINYL." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="todo-en-vinil" data-serv-name="Todo en Vinyl">RECORTE DE VINYL</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/estampados.jpg" alt="SERVICIO ESTAMPADO." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="todo-en-vinil" data-serv-name="Todo en Vinyl">ESTAMPADO</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/standsportatiles.jpg" alt="SERVICIO STANDS PORTÁTILES." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="pop" data-serv-name="P.O.P.">STANDS PORTÁTILES</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/senalizacion.jpg" alt="SERVICIO SEÑALIZACIÓN." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="pop" data-serv-name="P.O.P.">SEÑALIZACIÓN</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Recent Post -->
            </div>
        </div>
        <!-- EOF Footer widget #2-->
        <!-- BOF Footer widget #3 -->
        <div class="four columns">
            <div class="widget">
                <div class="jx-footer-title font-transparent">SERVICIOS</div>
                <!-- widget Title -->
                <div class="jx-widget-recent-post">
                    <ul>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/roll-ups.jpg" alt="SERVICIO ROLL UPS." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="pop" data-serv-name="P.O.P.">ROLL UPS</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/estructuras.jpg" alt="SERVICIO ESTRUCTURAS." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="pop" data-serv-name="P.O.P.">ESTRUCTURAS</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/granformato.jpg" alt="SERVICIO GRAN FORMATO." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="impresos" data-serv-name="Impresos">GRAN FORMATO</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/corte.jpg" alt="SERVICIO CORTE." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="impresos" data-serv-name="Impresos">CORTE</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/digital.jpg" alt="SERVICIO DIGITAL." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="impresos" data-serv-name="Impresos">DIGITAL</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Recent Post -->
            </div>
        </div>
        <!-- EOF Footer widget #3-->
        <!-- BOF Footer widget #4 -->
        <div class="four columns">
            <div class="widget">
                <div class="jx-footer-title font-transparent">SERVICIOS</div>
                <!-- widget Title -->
                <div class="jx-widget-recent-post">
                    <ul>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/offset.jpg" alt="SERVICIO OFFSET." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="impresos" data-serv-name="Impresos">OFFSET</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/altaresolucion.jpg" alt="SERVICIO ALTA RESOLUCIÓN." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="impresos" data-serv-name="Impresos">ALTA RESOLUCIÓN</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/proyectosespeciales.jpg" alt="SERVICIO PROYECTOS ESPECIALES." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="proyectos-especiales" data-serv-name="Proyectos Especiales">PROYECTOS ESPECIALES</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                        <li>
                            <div class="image"><img src="img/servicios/thumbs/instalaciones.jpg" alt="SERVICIO INSTALACIONES." /></div>
                            <div class="post-content">
                                <div class="title">
                                    <a class="hvr-underline-from-center get-footer-service" data-serv-key="instalaciones" data-serv-name="Instalaciones">INSTALACIONES</a>
                                </div>
                                <div class="date">. . .</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Recent Post -->
            </div>
        </div>
        <!-- EOF Footer widget #4 -->
    </div>
</div>
<!-- EDF widget FOOTER -->
<!-- BDF SUB FOOTER -->
<div class="jx-sub-footer jx-container">
    <div class="container">
        <div class="col-md-12">
        {{!<div class="eight columns">}}
            <div class="jx-copy-right">Copyright © 2016 Print Shop MKT.</div>
        </div>
        <!-- Copyright Text -->
        {{!
        <div class="eight columns">
            <div class="jx-footer-social-icon">
                <ul>
                    <li class="facebook">
                        <a href="http://www.facebook.com/#" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="twitter">
                        <a href="http://www.twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="dribbble">
                        <a href="http://www.dribbble.com/#" target="_blank"><i class="fa fa-dribbble"></i></a>
                    </li>
                    <li class="youtube">
                        <a href="http://www.youtube.com/#" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li class="googleplus">
                        <a href="http://www.googleplus.com/#" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        }}
        <!-- Social Icons -->
    </div>
</div>
<!-- EDF SUB FOOTER -->