<div class="container">
    <div class="four columns">
        <div class="jx-header-logo">
            <a href="#/">
                <img src="img/logo/logo-print-shop.png" alt="Printo Shop MKT." />
            </a>
        </div>
        <!-- Logo -->
    </div>
    <div class="twelve columns">
        <div class="header-info">
            <div class="toll-free"><i class="fa fa-phone"></i> Llámanos</div>
            <ul>
                {{!
                <li class="top-space">
                    <div class="icon"><i class="fa fa-map-marker"></i></div>
                    <div class="position">
                    <div class="location">Location</div>
                    <div class="address">SOUTH REVEN, USA</div>
                    </div>
                </li>
                }}
                <li class="top-space">
                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                    <div class="position">
                    <div class="time">Horario</div>
                    <div class="date">LUN - VIE 9:00 - 7:00</div>
                    </div>
                </li>
                <li>
                    <div class="toll-free-number"><a class="hvr-underline-from-center" href="tel:+013315236595">16.18 75.36</a></div>
                </li> 
            </ul>
        </div>
        <!-- Header Info -->
    </div>
</div>