<div class="container with-sidebar">
    <div class="sixteen columns right no-top-padding omega">
        <div id="start-site-jx-service-content"></div>
    </div>    
    <div id="sidebar" class="four columns left no-top-padding alpha">
        <div class="jx-sidebar-block mb40">
            <div class="jx-sidebar-menu" id="init-jx-tabs-service"></div>
        </div>
    </div>            
    <!-- EDF Side Bar Content -->
</div>