<div class="container">
    <div class="header-menu-left">
        <div class="nav_container">
            <ul id="jx-main-menu" class="menu">
                <li class="deactivated" id="menu-holder-home">
                    <a class="deactivated" href="#/">Inicio</a>
                </li>
                <li class="deactivated" id="menu-holder-about-us">
                    <a class="deactivated" href="#/quienes-somos">¿Quiénes somos?</a>
                </li>
                <li class="deactivated with-sub" id="menu-holder-services">
                    <a href="#/servicios" class="deactivated">Servicios</a>
                    <ul class="submenu" id="inner-submenu-services">
                    </ul>
                </li>
                <li class="deactivated" id="menu-holder-contact">
                    <a class="deactivated" href="#/contacto">Contacto</a>
                </li>
            </ul>
        </div>
        <!-- EOF Menu -->
    </div>
    <!-- MENU -->
    {{!--<div class="header-search-right">
        <div class="jx-header-search">
            <form action="#" id="search" method="post" class="jx-form-wrapper">
                <div id="search-input" class="search-inline-block">
                    <input id="search_text" name="search_text" placeholder="Search" class="jx-form-name" type="text">
                </div>
                <div id="jx-search-submit">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <!-- Submit Button -->  
                </div>
            </form>
        </div>
    </div>
    <!-- SEARCH FORM -->
    --}}
</div>