<!-- BDF CONTACT -->
<div class="jx-container jx-white-bg jx-padding">
    <div class="container">
       <div class="jx-section-title-1">
            <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
            <div class="jx-title-position">
                <div class="jx-left-border"></div>
                <div class="jx-title">Contacto</div>
                <div class="jx-right-border"></div>
            </div>
            {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div> --}} 
        </div>
        <!-- Section Title -->
        <div class="jx-contact-form">
            <div id="content-form-contact"></div>
        </div>
    </div>
</div>
<!-- EDF CONTACT -->
<!-- BDF CONTACT LINKS -->
<div class="jx-container jx-grey-bg jx-padding">
    <div class="container">
        <div class="one-third columns">
            <div class="jx-contact-info">
                <div class="icon"><i class="line-icon icon-location"></i></div>
                <div class="item-position">
                    <div class="title">Domicilio.</div>
                    <div class="address">Manuel Acuña #2791</div>
                    <div class="address">C.P. 44630, Col. Providencia</div>
                    <div class="address">Guadalajara, Jalisco.</div>
                    <div class="address">Lunes a Viernes: 9:00 am a 7:00 pm</div>
                </div>
            </div>
        </div>
        <!-- Contact -->                
        <div class="one-third columns">
            <div class="one-third columns">
                <div class="jx-contact-info">                        
                    <div class="icon"><i class="line-icon icon-mobile"></i></div>
                    <div class="item-position">
                        <div class="title">Teléfonos.</div>
                        <div class="phone">TEL : <a href="tel:+013316187536">01 (33) 16.18  75.36</a></div>
                        <div class="phone">TEL : <a href="tel:+013315236595">01 (33) 15.23  65.95</a></div>
                        {{!<div class="fax">FAX : (997) 54 215465 - (997) 54 215412</div>}}
                    </div>                                            
                </div>
            </div>
        </div>
        <!-- Contact -->                
        <div class="one-third columns">                
           <div class="one-third columns">
                <div class="jx-contact-info">                        
                    <div class="icon"><i class="line-icon icon-globe"></i></div>                            
                    <div class="item-position">
                        <div class="title">Redes sociales</div>
                        <div class="date-time"><a href="https://www.facebook.com/Printshopmkt-1240382372639528/?fref=ts" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></div>
                    </div>                                            
                </div>
            </div>               
        </div>
        <!-- Contact -->
    </div>
</div>        
<!-- EDF CONTACT LINKS -->
<!-- BDF MAP -->
<div class="jx-container jx-white-bg">
    <div class="jx-google-map">
        <div id="map" class="jx-map none-visible-xs"></div>
        {{!}}
        <div class="container">
            <a href="https://www.google.com.mx/maps/place/Av.+Manuel+Acu%C3%B1a+2791,+Circunvalaci%C3%B3n+Vallarta,+44680+Guadalajara,+Jal./@20.6822063,-103.3880093,15.63z/data=!4m5!3m4!1s0x8428ae6a6a7af9ed:0x2ef417dcca130f14!8m2!3d20.6846171!4d-103.3859504" class="view-gmap view-gmap-button view-gmap-align view-gmap-padding visible-sm visible-xs" target="_blank">
                <i class="fa fa-map-o fa-2x"></i>
                VER MAPA
            </a>
        </div>
    </div>
</div>
<!-- EDF MAP -->