<div class="jx-section-title-1">            
    <div class="jx-seperator-icon"><i class="fa fa-chevron-down"></i></div>
    <div class="jx-title-position">
        <div class="jx-left-border"></div>
        <div class="jx-title jx-uppercase">Todo en Vinyl</div>
        <div class="jx-right-border"></div>
    </div>
    {{!--<div class="jx-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>--}}
</div>  
<div class="jx-container jx-service-flexslider">
    <div class="flexslider">
        <ul class="slides" id="init-jx-service-banners">
            <li>
                <img src="img/servicios/banners/vinyl/recorte-de-vinyl/servicios-todoenvinyl-1.jpg" alt="Recorte de vinyl.">
            </li>
            <li>
                <img src="img/servicios/banners/vinyl/recorte-de-vinyl/servicios-todoenvinyl-2.jpg" alt="Recorte de vinyl.">
            </li>
            <li>
                <img src="img/servicios/banners/vinyl/recorte-de-vinyl/servicios-todoenvinyl-3.jpg" alt="Recorte de vinyl.">
            </li>
            <li>
                <img src="img/servicios/banners/vinyl/estampado/servicios-estampado-1.jpg" alt="Estampado">
            </li>
            <li>
                <img src="img/servicios/banners/vinyl/estampado/servicios-estampado-2.jpg" alt="Estampado">
            </li>
        </ul>
    </div>
</div>
<!-- EOF Flexslider -->
<div class="jx-service-content">
    <div class="row">
        <div class="col-md-6">
            <div class="jx-section-title-2">
                {{!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
                <div class="jx-title">RECORTE DE VINYL</div>
                <div class="jx-seperator-hr"></div>
            </div>
            <p>Es un proceso muy completo para desarrollar la mayor parte de las rotulaciones (interiores y exteriores) que son ya parte integrante de nuestro entorno y que son necesarias para el uso efectivo y seguro de instalaciones, de promoción de negocios, empresas o para la comunicación de mensajes o ideas.</p>
            
            <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>

            <p>Señalizaciones, anuncios o letreros como parte de una identidad de una oficina o negocio, fachadas con elementos preexistentes o en estructuras expresamente construidas en materiales diversos: cristal, aluminio, acero inoxidable, metacrilato y, en general, cualquier material sin textura.</p>
        </div>
        <div class="col-md-6">
            <div class="jx-section-title-2">
                {{!<div class="jx-brucket-title">[ Lorem ipsum ]</div>}}
                <div class="jx-title">ESTAMPADO</div>
                <div class="jx-seperator-hr"></div>
            </div
            <p>Es un proceso de impresión para obtener un diseño, que puede ser plano o en relieve.</p>
            
            <mark class="orange mark-block font-style">¿Qué podemos hacer?</mark>
            
            <div class="jx-sercvice-list">
                <ul>
                    <li>Estampado con transfer.</li>
                    <li>Estampado en sublimación.</li>
                    <li>Estampado en serigrafía.</li>
                    <li>Playeras para campaña.</li>
                    <li>Estampado con vinyl textil.</li>
                </ul>
            </div>
        </div>
    </div>
</div>