<div class="container">
    <!-- Left Items -->
    <div class="eight columns left">
        {{!--<div class="jx-left-topbar">Welcome to REBUILD . Creative HTML Template</div>--}}
    </div>
    <!-- Left Items -->
    <!-- Right Items -->
    <div class="eight columns right">
        <div class="jx-right-topbar">
            <div class="email left"><i class="fa fa-envelope"></i> Info@rebuild.com</div>
            <!-- Social icons-->
            <ul class="right">
                {{!--
                <li><a href="#"><i class="fa fa-shopping-cart"></i><span class="cart">0</span></a></li>
                <li><span>$0.00</span></li>
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                --}}
                <li><a href="http://www.facebook.com/janxcode"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://www.twitter.com/janxcode"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.googleplus.com/janxcode"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <!-- Social icons-->
        </div>
    </div>
    <!-- Right Items -->
</div>