<div class="jx-tagline-box">
    <div class="container">
        <div class="five columns box-content">
            <h2>GET Free Quote</h2>
            <h3>800 8080 1876</h3>
        </div>
        <!-- Content -->
        <div class="jx-line-seperator"></div>
        <div class="eleven columns jx-subscribeletter">
            <h2>Subscribe To Newsletter</h2>
            <form action="index.html" method="post">
                <div class="jx-newsletter-box">
                    <input type="text" name="jx-newsltter-name" placeholder="Your Name" value="" />
                </div>
                <div class="jx-newsletter-box">
                    <input type="text" name="jx-newsltter-email" placeholder="Type Your Email" value="" />
                </div>
                <div class="jx-newsletter-submit">
                    <input type="submit" name="jx-newsltter-submit" value="GO" />
                </div>
            </form>
        </div>
    </div>
</div>