{#  Footer #}
<div class="main-container _content" id="header">
    {#  Begin: Footer container #}
    <footer class="footer-2" style="background-color: transparent; clear: both;">
        <div class="container">
            <div class="row">
                {# 
                <div class="col-sm-6">
                    <a href="#/">
                        <img alt="logo" class="logo" src="img/logo/chicotes-automotrices-gomez.gif">
                    </a>
                    <span class="tagline"></span>
                </div>
                #}

                <div class="col-sm-12 text-center">
                    {# 
                    <ul class="social-links">
                        <li>
                            <div class="log-medigraf" style="margin-top: 15px;">
                                <a id="get-icon-corp-medigraf-event-ga" href="http://medigraf.com.mx" target="_blank" class="inline-block">
                                    <div class="medigraf"></div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="toolbar-icon-social">
                                <a class="icon-social bg-icon-color-facebook" href="https://www.facebook.com/CamcarMexico" target="_blank">
                                    <i class="icon-color fa fa-facebook"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="toolbar-icon-social">
                                <a class="icon-social bg-icon-color-twitter" href="https://twitter.com/CamcarMexico" target="_blank">
                                    <i class="icon-color fa fa-twitter"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    #}
                </div>
            </div>{# end of row#}

            <div class="row">
                <div class="col-xs-12 text-center" style="padding: 70px 0 70px;">
                    {# 
                    <div class="footer-lower ">
                    </div>
                    #}
                    <div class="footer-lower ">
                        <span class="copyright text-font pull-left">
                            <i class="fa fa-copyright"></i> Audi Guadalajara.
                            {#<a id="go-privacy-news" title="Aviso de Privacidad" alt="Aviso de Privacidad">Aviso de privacidad</a>#}
                        </span>
                        <span class="copyright text-font pull-right">
                            <div class="log-medigraf" style="margin-top: 0px;"><a href="http://www.clicktolead.mx/" target="_blank"><div class="medigraf"></div>
                        </span>
                    </div>
                </div>
            </div>{# end of row#}
        </div>{# end of container#}
    </footer>
    {#    End: Footer container #}
</div>