{# Start Site Header #}
<div class="container sp-cont">
    <a class="visible-sm visible-xs mobile-toggle" id="menu-toggle">
        {#<i class="fa fa-bars"></i>#}
        <div class="bar-1"></div>
        <div class="bar-2"></div>
    </a>
    <a class="visible-xs-home-link visible-sm visible-xs" id="go_home_logo_resp" href="{{ _host }}">
        <img alt="Logo" class="logo" src="{{ _host }}img/logo/logo-audi.png" alt="Audi Guadalajara">
    </a>
    {# Main Navigation #}
    <nav class="main-navigation dd-menu toggle-menu navigation-bar" role="navigation">
        <a class="home-link main-navigator-home-link" id="go_home_logo" href="{{ _host }}">
            <span class="primary-text">Audi Guadalajara</span>
        </a>
        <ul class="sf-menu navigation-bar">
            {#<li><a id="go_home" href="#inicio" class="cur-hover">Inicio</a></li>#}
            <li><a data-scroll data-options='{ "easing": "easeOutQuad" }' {#id="audi_a3_sedan"#} href="#audi-a3-sedan" class="cur-hover">Audi A3 Sedan</a></li>
            <li><a data-scroll data-options='{ "easing": "easeOutQuad" }' {#id="audi_a6"#} href="#audi-a6" class="cur-hover">Audi A6</a></li>
            <li><a data-scroll data-options='{ "easing": "easeOutQuad" }' {#id="audi_a7"#} href="#audi-a7" class="cur-hover">Audi A7</a></li>
            <li><a data-scroll data-options='{ "easing": "easeOutQuad" }' {#id="audi_a8"#} href="#audi-a8" class="cur-hover">Audi A8</a></li>
            <li><a data-scroll data-options='{ "easing": "easeOutQuad" }' {#id="audi_accesorios"#} href="#audi-accesorios" class="cur-hover">Accesorios</a></li>
            <li style="width: 12%; margin-right: 0px;"><img alt="Logo" class="logo hidden-xs" src="{{ _host }}img/logo/logo-audi.png" alt="Audi Guadalajara" style="width: 100px;"></li>
        </ul>
    </nav>
</div>
{# End Start Site Header #}