<div id="tp-full" class="col-md-12 tp-full">
    <div class="card-panel">
        <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
            <div class="col-md-12 ct-head">
                <h1 class="ct-head-title">LIPOESCULTURA</h1>
                <p>La liposucción consiste en extraer la grasa de partes localizadas del cuerpo usando cánulas de succión a través de muy pequeñas aberturas en la piel. ES EL PROCEDIMIENTO MAS UTILIZADO EN EL MUNDO PARA EL MANEJO DEL CONTORNO CORPORAL, LA DISTRIDUCION DE GRASA EN EL CUERPO VARIA CONSIDERABLEMENTE AUN EN PERSONAS CON LA MISMA CANTIDAD ABSOLUTA DE GRASA CORPORAL.</p>
            </div>
            <div class="col-md-12 ct-head">
                <h1 class="ct-head-title">FUNDAMENTOS DE LA LIPOSUCCION</h1>
                <p>El número de adipocitos permanece constante después de la pubertad. Este conocimiento constituye uno de los pilares fundamentales de la liposucción; o sea, que si los adipocitos son extraídos de cierta parte del cuerpo, esos adipocitos no volverán a formarse y por esta razón la liposucción es un procedimiento con resultados permanentes.</p>
            </div>
            <div class="col-md-12 ct-head">
                <h1 class="ct-head-title">INDICACIONES</h1>
                <p>La liposucción no es un método para tratar la obesidad generalizada. Está indicada primordialmente para la extirpación de adipocidades inestéticas localizadas (abdomen, glúteos, caderas, "pistolas", cintura, muslos, brazos, "papada", mejillas, etc.). También es usada para el tratamiento de la pseudoginecomastia en el varón, extirpación de lipomas gigantes y en combinación con otros procedimientos quirúrgicos.</p>
                <p>Podemos clasificar la liposucción en dos tipos:</p>
                <ul class="arrow-list">
                    <li class="list-li">Lipoescultura: cuando se extraen menos de 4 litros de uno o varios sitios.</li>
                    <li class="list-li">De Volumen: cuando se extraen más de 4 litros.</li>
                </ul>
            </div>
        </div>
        <!-- /.tp-contact-us--> 
    </div>
</div>