<div class="container">
	<div class="row">
		<div class="col-md-5 tp-logo"> 
			<a class="navbar-brand cur-hover" id="go_home">
				<img src="img/logo/skin-surgery-white.png" alt="Skin surgery brand logo">
			</a>
		</div>
		<div class="col-md-7 tp-top">
			<span class="call">Llámanos: (33) 3631 1944</span>
			<a href="#/contacto" class="btn btn-primary btn-raised tp-btn-regular">
				Haz una cita
			</a>
		</div>
	</div>
</div>