<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">CIRUGIA OREJAS</h1>
            <p>Las orejas prominentes o en asa son la deformidad congénita más frecuente del pabellón auricular.</p>
            <img src="img/sections/facialsurgery/OREJAS.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Habitualmente se realiza en pacientes a partir de los 16 años de edad. Sin embargo, es una intervención que, con bastante frecuencia se suele realizar en niños, porque a una edad ya muy temprana, hacia los seis años, las orejas han alcanzado prácticamente el tamaño y desarrollo que tendrán en la vida adulta. Por otro lado, los niños suelen ser muy crueles en la denuncia de los defectos corporales y a esta edad las orejas prominentes o de soplillo, son empleadas para burlarse del compañero de colegio. La reacción con frecuencia es de agresividad hacia el ambiente o tendencia al aislamiento.</p>
            <p>Aunque el problema más común que afecta a las orejas es el despegamiento o prominencia, existen otros tipos de deformidades que también pueden ser corregidos mediante cirugía: se puede reducir el tamaño de las orejas, se puede cambiar la forma y tamaño de los lóbulos, se pueden corregir las orejas en copa o de sátiro; Incluso, se puede crear una oreja nueva cuando esta no existe o ha desaparecido como consecuencia de accidentes.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>