<li class="list-li deactivated" id="nav-card-panel-lipoescultura">
	<a href="#/lipoescultura">Lipoescultura</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-lipectomia">
	<a href="#/lipectomia">Lipectomía, tummy tuck, cirugía de contorno corporal</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-aumento-gluteo">
	<a href="#/aumento-gluteo">Aumento de gluteo, BBL</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-mommy-makeover">
	<a href="#/mommy-makeover">Mommy Makeover</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-aumento-pantorrilla">
	<a href="#/aumento-pantorrilla">Aumento de Pantorrilla</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-braquioplastia">
	<a href="#/braquioplastia">Braquioplastia</a>
</li>