<div class="row">
    <div class="col-md-12" id="views-other-section">
        <div class="sub-nav-widget">
            <div class="card-panel">
                <h2 id="card-panel-section-title"></h2>
                <ul class="sub-nav arrow-list" id="nav-card-panel"></ul>
            </div><!-- side nav -->
        </div><!-- /.side nav -->
    </div>
    <div class="col-md-12">
        <div class="app-form-widget">
            <div class="card-panel">
				<h2>Haz un Cita</h2>
				<p>También puede ponerse en contacto ingresando los datos del siguiente formulario.</p>
            	<div id="content-form-contact"></div>
            </div>
        </div><!-- appointment form -->
    </div><!-- appointment form -->
    {{!--<div class="col-md-12"> 
        <div class="bf-gallery"><!-- before after gallery -->
            <div class="card-panel">
                <h2>Before / After Gallery</h2>
                <p>Our expert team has treated over half a million people.</p>
                <img src="images/glry-pic.jpg" alt="before after gallery" class="img-responsive"> <a href="gallery-list.html" class="btn btn-raised tp-btn-regular"> View Gallery</a> </div>
            </div>
        </div>
    </div>--}}
</div>