<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">APLICACIÓN DE BOTOX PARA EVITAR LA SUDORACION EXCESIVA</h1>
            <div class="col-md-6 padding-0">
                <p>La toxina Botulínica es en la actualidad una de las soluciones más avanzadas para la excesiva sudoración de las axilas y de las palmas de las manos.</p>
                <p>Aplicada localmente con pequeñas inyecciones y con agujas muy finas en el espacio romboidal de la axila, se consigue eliminar la sudoración aún en las condiciones más extremas.</p>
                <p>La técnica consiste en inyectar la toxina en la dermohipodermis consiguiendo paralizar un pequeño musculo de la glándula sudorípara responsable del vaciamiento de la misma.</p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/nonsurgical/axila.jpg" alt=". . ." class="img-responsive">
            </div>
            <div class="clearfix"></div>
            <p>Esto impide su salida al exterior de la epidermis e impide un nuevo llenado de la glándula.</p>
            <p>El efecto comienza a notarse a los 8 días de su administración y es máximo a los 15-20 días.</p>
            <p>Dura entre 6 y 8 meses, al cabo de los cuales se puede volver a repetir el tratamiento sin ningún problema.</p>
            <p>El tratamiento se tarda en hacer entre 10-15 minutos, es poco molesto y al terminarlo puedes continuar con tu vida sociolaboral. Bien administrado carece prácticamente de efectos secundarios.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>