<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">APLICACIÓN DE TOXINA BOTULINICA (BOTOX)</h1>
            <h2>Arrugas de cara, frente, entrecejo y patas de gallo.</h2>
            <div class="col-md-6 padding-0">
                <p>Hoy en día es uno de los tratamientos mas utilizados a nivel mundial para conseguir la mejoría temporal de las arrugas cutáneas moderadas y graves, de forma fácil y sin complicaciones, además se puede decir que es uno de los mejores tratamientos estéticos para prevenir la formación de futuras arrugas. Este procedimiento siempre debe ser administrado por médicos con la cualificación adecuada, con experiencia en el tratamiento y con el equipo apropiado.</p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/nonsurgical/botox-face.jpg" alt=". . ." class="img-responsive">
            </div>
            <div class="clearfix"></div>
            <p>El tratamiento con toxina Botulínica tipo A es muy eficaz, seguro y cómodo para los pacientes que desean eliminar los surcos y arrugas que han aparecido en determinadas zonas de su rostro debido a gestos habituales como fruncir el entrecejo o entrecerrar los ojos. Este tratamiento tiene una utilidad demostrada como técnica no invasiva de rejuvenecimiento facial, ya que es capaz de eliminar parte de las arrugas producidas por la contracción de los músculos faciales, principalmente en la zona de la frente, el entrecejo, el contorno ocular, el perímetro de la boca y mentón.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>