<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
        	<h1 class="ct-head-title">CIRUGIA DE PARPADOS</h1>
        	<div class="col-md-6 padding-0">
	        	<p>Como elementos clave de la expresión facial, los ojos transmiten mensajes de emoción, vitalidad y edad. Con el transcurso del tiempo, los ojos sufren cambios que con frecuencia hacen que las personas luzcan como si se sintieran tristes o cansadas.</p>
	        	<p>Con el proceso de envejecimiento es posible que los párpados se caigan, lo cual, combinado con las bolsas y la hinchazón, puede hacer que una persona luzca cansada y con más edad de la que realmente tiene.</p>
	        </div>
	        <div class="col-md-6">
	            <img src="img/sections/facialsurgery/parpados.jpg" alt=". . ." class="img-responsive">
	        </div>
	        <div class="clearfix"></div>
        	<p>La cirugía de párpados puede ayudar a refrescar y revitalizar el rostro ya que reduce el aspecto de párpados pesados y estirados, la hinchazón y las bolsas debajo de los ojos.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>