<div class="container">
    <div class="row">
      	<div class="col-md-12 dc-block">
        	<div class="card-panel">
          		<div class="row">
            		<div class="col-md-12 col-sm-12 dc-desc text-center">
              			<h1 class="ct-head-title">Protocolo prequirúrgico.</h1>
              			<img src="img/sections/home/presurgical_protocol_diagram.png" class="hidden-xs img-normal img-responsive" alt=". . ." width="80%" style="margin-bottom: 30px;">
              			<img src="img/sections/home/presurgical_protocol_diagram_mobile.png" class="visible-xs img-resp img-responsive" alt=". . ." style="margin-bottom: 30px;">
              			<h3 class="ct-head-subtitle">Organizamos tu viaje a Guadalajara</h3>
	          		</div>
          		</div>
        	</div>
      	</div>
    </div>
</div>