<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">REDUCCIÓN DE MAMA</h1>
            <div class="col-md-6 padding-0">
            	<p>La hipertrofia mamaria es una condición patológica que puede producir una alteración anatómica de la columna y de los hombros, un deterioro funcional respiratorio, un desajuste psicológico o psiquiátrico y/o un menoscabo de la relación social.</p>
        		<p>La mamoplastia reductora, como elemento de tratamiento de estas disfunciones, ha ganado en popularidad en la medida que consiga mantener la forma y función.</p>                
            	<p>La mamoplastia reductora ideal, busca mantener la unidad funcional de la mama, reducir el volumen y peso con una forma agradable, que deje cicatrices pequeñas e inadvertidas, con una capacidad de amamantar conservada y que preserve la sensibilidad de la areola y del pezón.</p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/breastsurgery/reduccion-de-mama.jpg" alt=". . ." class="img-responsive">
            </div>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>