<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-panel">
                <ol class="breadcrumb ">
                    <li><a class="cur-hover" id="go_home">Inicio</a></li>
                    <li class="active" id="tp-section"></li>
                    <li class="active" id="tp-sub-section"></li>
                </ol>
            </div>
        </div>
    </div>
</div>