<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">APLICACIÓN DE RELLENOS EN LABIO, SURCOS DE EXPRESION</h1>
            <p>La función principal del ácido hialurónico es como material de relleno en cirugía estética utilizándose en implantes y rellenos para la cara y los labios. Se implanta mediante una aguja muy fina y se inyecta superficialmente integrándose de manera natural en los tejidos. Los resultados son inmediatos.</p>
            <p>Además de alisar los pliegues subcutáneos estimula la producción de colágeno, lo que multiplica y prolonga el resultado rejuvenecedor. Su utilización destaca en la voluminosidad de los labios y pómulos, así como para alisar la frente y las marcas cutáneas aunque también se administra para reducir las cicatrices del acné severo y otros problemas cutáneos que ocasionen pérdida de piel.</p>
            <img src="img/sections/nonsurgical/labios.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
        </div>
        <div class="col-md-12 ct-head">
            <h2 class="ct-head-subtitle">Tratamiento, recomendaciones y efectos del ácido hialurónico para cara</h2>
            <p>La duración media del implante depende de la calidad de la piel pero el efecto del relleno facial reabsorbible suele durar entre ocho y diez meses.</p>
            <p>En 1 ó 2 sesiones, de no más de 20 minutos de duración, se mejoran notablemente las arrugas o cicatrices del rostro.</p>
            <p>Normalmente, una sesión es suficiente y los resultados son inmediatos.</p>
            <p>El tratamiento no requiere hospitalización, por lo que el paciente puede reanudar su vida normal justo después del tratamiento.</p>
            <p>Es recomendable utilizar protección solar después del tratamiento y evitar exponerse a los rayos solares.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>