<div class="card-panel">
	<div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
    	<div class="col-md-12 ct-head">
      		<h1>Contacto</h1>
        </div>
        <div class="col-md-6 tp-ct-form">
          	<h2 class="col-md-offset-3 col-md-9">Envíanos tu mensaje.</h2>
            <div id="content-form-contact"></div>
        </div>
        <div class="col-md-offset-1 col-md-4 tp-ct-info">
          	<h2>Programe una consulta.</h2>
      		<div class="ct-info-box none-visible-xs">
                <p class="ct-call to-icon">
                    <span class="icon-circle">
                        <i class="ion-ios-telephone fa-2x"></i>
                    </span>
                    <span class="legend">
                        (33) 3631 1944
                    </span>
                </p>
                <p class="ct-call to-icon">
                    <span class="icon-circle">
                        <i class="ion-ios-telephone fa-2x"></i>
                    </span>
                    <span class="legend">
                        (33) 2255 7223
                    </span>
                </p>
            	<p class="ct-call to-icon">
                    <span class="icon-circle">
                        <i class="ion-ios-telephone fa-2x"></i>
                    </span>
                    <span class="legend">
                        (33) 1020 5292
                    </span>
                </p>
          	</div>
            <div class="ct-info-box visible-sm visible-xs">
                <span>
                    <a href="tel:+3336311944" class="btn tp-btn-small btn-raised col-md-12 col-xs-12">
                        <i class="ion-ios-telephone fa-2x" style="padding:10px;"></i>
                        <span>(33) 3631 1944</span>
                    </a>
                </span>
                <span>
                    <a href="tel:+3322557223" class="btn tp-btn-small btn-raised col-md-12 col-xs-12">
                        <i class="ion-ios-telephone fa-2x" style="padding:10px;"></i>
                        <span>(33) 2255 7223</span>
                    </a>
                </span>
                <span>
                    <a href="tel:+3310205292" class="btn tp-btn-small btn-raised col-md-12 col-xs-12">
                        <i class="ion-ios-telephone fa-2x" style="padding:10px;"></i>
                        <span>(33) 1020 5292</span>
                    </a>
                </span>
                <span>
                    <a href="https://www.google.com.mx/maps/place/mayoplastic.com/@20.6778058,-103.3788699,17z/data=!3m1!4b1!4m5!3m4!1s0x8428ae122da18f67:0xb04b3e458306b902!8m2!3d20.6778058!4d-103.3766812" class="btn tp-btn-small btn-raised col-md-12 col-xs-12" target="_blank">
                        <i class="ion-map fa-2x" style="padding:10px;"></i>
                        <span>VER MAPA</span>
                    </a>
                </span>
            </div>
        </div>
  	</div>
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        {{!--<div class="col-md-12 ct-head">
            <h1>Ubicación</h1>
        </div>--}}
        <div class="col-md-6 tp-ct-form">
            <div class="row none-visible-xs">
                <div id="gmap" class=" col-md-offset-2 none-visible-xs"></div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-1 tp-ct-info">
            <h2>Domicilio</h2>
            <div class="ct-info-box">
                <p class="ct-call to-icon">
                    <span class="icon-circle">
                        <i class="mdi-maps-place fa-2x"></i>
                    </span>
                    <span class="legend">
                        Justo Sierra No. 2372, <br>
                        Col. Ladrón de Guevara, <br>
                        Guadalajara, Jalisco.
                    </span>
                    {{!--<span class="circle" style="display: inline-block; vertical-align: middle; float: left;">
                    </span>--}}
                </p>
                <p class="ct-mail to-icon">
                    <span class="icon-circle">
                        <i class="fa fa-envelope-o fa-2x"></i>
                    </span>
                    <span class="legend">
                        <a class="links underline-from-center" href="mailto:contacto@mayomanzo.com">contacto@mayomanzo.com</a></p>
                    </span>
            </div>
        </div>
    </div>
	<!-- /.tp-contact-us--> 
</div>