<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">AUMENTO DE LA PANTORRILLA</h1>
            <div class="col-md-6 padding-0">
        		<p>Unas pantorrillas proporcionadas indican un estilo de vida activo y saludable. Las indicaciones típicas para el aumento de pantorrilla con implantes son pantorrillas delgadas o asimétricas, deformidad de Varus o defectos que pueden ser causadas por trastornos neurológicos.</p>
            	<p>Las piernas muy delgadas y generalmente desproporcionadas con los diámetros de las caderas es un motivo de insatisfacción frecuente entre las mujeres y entre algunos hombres que practican fisioculturismo.</p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/bodycontour/pantorrilla.jpg" alt=". . ." class="img-responsive">
            </div>
            <div class="clearfix"></div>
            <p>Las piernas muy delgadas y generalmente desproporcionadas con los diámetros de las caderas es un motivo de insatisfacción frecuente entre las mujeres y entre algunos hombres que practican fisioculturismo.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>