<div id="tp-doctor" class="row tp-doctor"><!-- tp-doctor-single --> 
  	<div class="col-md-12 tp-doctor-single"><!-- doctor block -->
        <div class="card">
            <div class="card-box"><!-- doctor box-->
                <div class="col-sm-8 col-md-8 dc-name">
                    <h1 class="ct-head-title uppercase">Dr. José M. Manzo Corona</h1>
                    <span class="ct-head-subtitle dc-designation">Cirujano Plástico y Reconstructivo</span> 
                </div>
                <div class="col-sm-4 col-md-4 dc-pic"> 
                    <img src="img/dc-pic-2.jpg" alt="" class="img-circle img-responsive" /> 
                </div>
            </div>
            <!-- doctor box-->
            <div class="card-content dc-desc"><!-- doctor content box -->
                <div id="tp-full" class="col-md-12 tp-full">
                    {{!--<div class="card-panel">--}}
                        <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
                            <div class="col-md-10 col-md-offset-1 ct-head text-center">
                                {{!--<h1>Get In Touch</h1>--}}
                                <p>COMPROMETIDO EN OTORGAR ATENCIÓN MÉDICA IDEONA, PROFESIONAL Y ÉTICAMENTE RESPONSABLE.</p>
                                <p>BRINDANDO UNA ANTENCIÓN DE CONFORMIDAD APEGADA A LOS PRINCIPIOS CIENTÍFICOS.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="img/asoassociations/asoc-pic1.png" alt=". . ." width="195">
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="img/asoassociations/asoc-pic2.png" alt=". . ." width="195">
                            </div>
                            <div class="col-md-4 text-center">
                                <img src="img/asoassociations/asoc-pic3.png" alt=". . ." width="195">
                            </div>
                        </div>
                        <!-- /.tp-contact-us--> 
                    {{!--</div>--}}
                    <div class="row mt30">
                        <ul class="arrow-list">
                            <li class="list-li no-arrow">
                                Certificado por el Consejo Mexicano de Cirugía Plástica y Reconstructiva.
                                <ul class="sub-list">
                                    <li class="sub-list-li">
                                        Con el número 1816.
                                    </li>
                                    <li class="sub-list-li">
                                        Cédula Médica General 4937746.
                                    </li>
                                    <li class="sub-list-li">
                                        Cédula Cirugía General 7254548.
                                    </li>
                                    <li class="sub-list-li">
                                        Cédula Cirugía Plástica y Reconstructiva 9540292.
                                    </li>
                                </ul>
                            </li>
                            <li class="list-li no-arrow">
                                Estudios de Medicina General en la Universidad de Guadalajara.
                            </li>
                            <li class="list-li no-arrow">
                                Internado en OPD Hospital Civil Fray Antonio Alcalde.
                                <ul class="sub-list">
                                    <li class="sub-list-li">
                                        Servicio Social en Unidad Móvil de Cihuatlán, Jalisco.
                                    </li>
                                    <li class="sub-list-li">
                                        Modalidad de titulación: Desempeño Académico Sobresaliente.
                                    </li>
                                    <li class="sub-list-li">
                                        Residencia de Cirugía: Hospital de Zona No. 2 en Hermosillo, Sonora.
                                    </li>
                                    <li class="sub-list-li">
                                        Centro Médico Del Noroeste, Cd. Obregón, Sonora. Hospital Civil Fray Antonio Alcalde.
                                    </li>
                                </ul>
                            </li>
                            <li class="list-li no-arrow">
                                Residencia de Cirugía Plástica y Reconstructiva, Hospital Civil Fray Antonio Alcalde. 
                            </li>
                            <li class="list-li no-arrow">
                                Diploma, Taller De Microcirugía Básico, The American British Cowdray Medical Center, Centro Médico ABC.
                            </li>
                            <li class="list-li no-arrow">
                                Diploma, Taller De Microcirugía Intermedio, The American British Cowdray Medical Center, Centro Médico ABC.
                            </li>
                            <li class="list-li no-arrow">
                                Diploma, Taller De Microcirugía Avanzado, The American British Cowdray Medical Center, Centro Médico Abc, Hoja anexa de excelencia de los procedimientos extras realizados en los tres cursos.
                            </li>
                            <li class="list-li no-arrow">
                                Reconocimiento docente en tema de urgencias otorgado por la Secretaria de Salud.
                            </li>
                            <li class="list-li no-arrow">
                                Manejo De Heridas Dehiscentes En Cirugía Plástica. Asociación Mexicana de Cirugía Plástica, Estética y Reconstructiva A.C.
                            </li>
                            <li class="list-li no-arrow">
                                DIPLOMA, Taller de Microcirugía Intermedio, THE AMERICAN BRITISH COWDRAY MEDICAL CENTER, Centro Médico ABC, 2010.
                            </li>
                            <li class="list-li no-arrow">
                                XV Congreso Avances En Medicina Hospital Civil De Guadalajara.
                            </li>
                            <li class="list-li no-arrow">
                                Presentación de trabajos libres en cartel. Tema: RECONSTRUCCION DE LESIONES FACIALES POR MORDEDURA DE HUMANOS EN CARA. Congreso Avances En Medicina.
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Internacional Asociación Mexicana De Quemaduras, A.C. 
                            </li>
                            <li class="list-li no-arrow">
                                Aprobación De Curso Atención Básica Inicial Del Quemado. Avalado Por La Asociación Mexicana De Quemaduras, A.C. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Nacional De Cirugía Plástica. Por La Asociación Mexicana De Cirugía Plástica Estética Y Reconstructiva A.C. 
                            </li>
                            <li class="list-li no-arrow">
                                Asistencia Al 45 Th Annual Meeting. International Burn Congress. Por La American Burn Association En Palm Springs, California. USA.
                            </li>
                            <li class="list-li no-arrow">
                                Taller Adiestramiento. En Cirugía De Mano, Nervio Periférico Y Plexo Braquial, Dr. Clifton, 2013. Duración 8 meses. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso De Microcirugía Y Reconstrucción 2013, Sede Guadalajara, Jalisco. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Anual Actualidades En Cirugía De Mano. 2013. 
                            </li>
                            <li class="list-li no-arrow">
                                Presentación de cartel en, Congreso Hospitales Civiles 2013. Tema: Valorar El Resultado De Membrana Aloplástica En Quemaduras De Segundo Grado. 
                            </li>
                            <li class="list-li no-arrow">
                                Diplomado En Investigación Clínica. 2014. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Internacional Asociación Mexicana De Quemaduras, A.C.
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Nacional De Cirugía Plástica Estética Y Reconstructiva. Por La Asociación Mexicana De Cirugía Plástica Estética Y Reconstructiva, A.C. 
                            </li>
                            <li class="list-li no-arrow">
                                Curso Taller. Rejuvenecimiento Facial , Guadalajara, Jalisco, México. 2014. 
                            </li>
                            <li class="list-li no-arrow">
                                Asistencia A Curso Fundamentos Teóricos y Actualización 2015, Consejo Mexicano De Cirugía Plástica. 
                            </li>
                            <li class="list-li no-arrow">
                                Presentación Cartel. Tema: Reconstrucción Compleja De Extremidad Con Técnica Microquírurgica, Congreso Hospitales Civiles. 2015. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Nacional Cirugía Plástica Y Reconstructiva. 2015. 
                            </li>
                            <li class="list-li no-arrow">
                                Curso taller. Fracturas De Cara. OACMF North America, Dallas, Texas. USA. 2016. 
                            </li>
                            <li class="list-li no-arrow">
                                Congreso Internacional De Cirugía Plástica. ASAP. Las Vegas, Nevada. USA. 2016.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- doctor content box --> 
        </div>
    </div>
    <!-- /.doctor block -->           
</div>














