<li class="list-li deactivated" id="nav-card-panel-botox-application">
    <a href="#/toxina-botulinica-botox">Aplicación de botox en cara</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-excessive-sweating">
    <a href="#/sudoracion-excesiva">Aplicación de botox para evitar sudoración excesiva</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-expression-furrows">
    <a href="#/surcos-expresion">Aplicación de rellenos en labio, surcos de expresión</a>
</li>