<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title uppercase">Tummy tuck  DERMOLIPECTOMIA </h1>
            <p>Mujeres y hombres que tienen piel y grasa suelta, concentrada en el abdomen, pueden beneficiarse con esta cirugía. Algunas veces estas condiciones son hereditarias. En otras ocasiones, mucha pérdida de peso puede causar que la piel abdominal quede fláccida. La abdominoplastía también puede reforzar los músculos que quedan separados y débiles después del embarazo. La operación también puede mejorar las estrías, especialmente las que quedan inferiores al ombligo y crear un perfil abdominal más liso y firme. También se utiliza para tratar las hernias de la región.</p>
            <img src="img/sections/bodycontour/Lipecomia.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Se realiza una incisión horizontal en el abdomen inferior a nivel del vello pubiano. La musculatura abdominal es tensada con puntos, y las hernias o debilidades también son tratadas. El ombligo generalmente es conservado, dejándolo en su posición original, pero es exteriorizado de vuelta a través de una nueva abertura. En aquellos pacientes que requieran menor corrección, se realiza un procedimiento más limitado (mini-dermolipectomía). En estos casos no se deja cicatriz alrededor del ombligo, y la cicatriz por donde se reseca la piel y grasa en exceso, es más corta.</p>
        </div>
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">PROCEDIMIENTOS COMBINADOS</h1>
            <p>La dermolipectomía puede ser combinada con operaciones intraabdominales u operaciones en otras partes del cuerpo como ser en las mamas o en la cara. También puede realizarse simultáneamente una lipoaspiración en el abdomen, caderas y otras áreas, lo que mejora el resultado final.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>