<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">MOMMY MAKEOVER</h1>
            <p>El Mommy Makeover permite realizar en una sola intervención, retoques estéticos como abdominoplastia, liposucción y aumento, reducción o elevación de mamas para recuperar la figura previa al embarazo.</p>
            <img src="img/sections/bodycontour/Mommy-Makeover.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Tras cumplir el sueño de la maternidad todas las mujeres quieren volver a recuperar cuanto antes la figura que tenían antes de quedarse embarazadas y esta técnica les permite en una sola intervención, corregir problemas como la flaccidez de la piel, la distensión de los músculos abdominales, el exceso de grasa y aumentar, reducir o levantar los pechos.</p>
            <p>El Mommy Makeover es una manera rápida y eficaz de revertir los efectos estéticos indeseados del embarazo, que incluye distintos “procedimientos quirúrgicos como la abdominoplastia, la liposucción y el aumento, reducción o elevación de las mamas, ya que tras el embarazo y la lactancia se suele producir una caída del pecho y también una pérdida de su volumen”.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>