<li class="list-li deactivated" id="nav-card-panel-facelifts">
    <a href="#/rejuvenicimiento-facial">Rejuvenecimiento facial</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-eyelid-surgery">
    <a href="#/cirugia-parpados">Cirugía de parpados</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-nose-surgery">
    <a href="#/cirugia-nariz">Cirugía de nariz</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-cheek">
    <a href="#/cirugia-pomulos">Cirugía de pomulos</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-cheek-surgery">
    <a href="#/cirugia-mejilla">Cirugía de mejilla</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-ear-surgery">
    <a href="#/cirugia-orejas">Cirugía de orejas</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-lip-surgery">
    <a href="#/aumento-labios">Aumento de labios</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-chin-augmentation">
    <a href="#/aumento-menton">Aumento de menton</a>
</li>