<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">CIRUGIA DE NARIZ</h1>
            <p>La rinoplastia es uno de los procedimientos estéticos más frecuentemente realizados por cirujanos plásticos en todo el mundo. Es la cuarta cirugía más frecuentemente practicada en ambos sexos y la segunda más frecuente en varones.</p>
            <img src="img/sections/facialsurgery/nariz.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Es la cirugía que modifica la forma de la nariz, y es uno de los procedimientos quirúrgicos más frecuentemente realizados en cirugía plástica. La rinoplastia puede disminuir o aumentar el tamaño de la nariz, cambiar la forma de la punta o del dorso, estrechar los orificios nasales o cambiar el ángulo entre la nariz y el labio superior. Esta cirugía está indicada cuando hay desproporción entre la forma de la nariz y el resto de la cara. También corrige los problemas congénitos, los traumatismos y problemas respiratorios.</p>
            <p>También tenemos la capacidad tecnológica y humana para corregir cualquier problema funcional y de reconstrucción nasal, desde una reconstrucción completa de nariz por falta total o deformidades congénitas o por traumatismos nasales. Nariz de lado, tabiques desviados, hipertrofia de cornetes, etc.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>