<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
        	<h1 class="ct-head-title">POMULOS</h1>
        	<p>Los pómulos se pueden remodelar mediante cirugía estética. Se pueden aumentar los pómulos, eliminando el aspecto enfermizo y plano de las facciones que la falta de prominencia de la zona malar puede dar. Esta alteración puede ser congénita, aunque con la edad la pérdida de altura de los huesos malares (pómulos) es la norma con el consiguiente descolgamiento de los tejidos de la mejilla.</p>
            <img src="img/sections/facialsurgery/pomulos.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
        	<p>El aumento malar es un sencillo procedimiento quirúrgico de aproximadamente 1 hora de duración, que puede realizarse con anestesia local. Existen igualmente alternativas médico estéticas para remodelar los pómulos (sin cirugía) como puede ser la remodelación de los mismos mediante LIPOESTRUCTURA (propia grasa) o mediante la inyección de materiales sintéticos. La valoración estética de la cara debe realizarse en función de la relación tridimensional existente entre cada una de sus zonas.</p>
        	<p>Por este motivo, sus relieves óseos adquieren una gran importancia y entre estos podemos destacar los pómulos y el mentón. Unos pómulos poco desarrollados otorgan al rostro un aspecto plano y envejecido, pero si son excesivos pueden dar lugar a un aspecto agresivo y poco elegante. Por otra parte, un mentón insuficiente distorsiona el plano facial y el contorno de la boca y además acorta la profundidad del cuello.</p>
        	<p>Aunque una barbilla demasiado pronunciada resulta bastante inestética especialmente en la mujer. En estos casos la cirugía puede ser una buena solución estética y en ocasiones se combina con otros procedimientos estético quirúrgicos de la cara, tales como el Lifting o la Rinoplastia.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>