<div class="container">
    <div class="row">
    	<!-- tp left side -->
    	<div id="tp-left-side" class="col-md-8 tp-left-side"></div>
		<!-- /.tp left side -->
		<!-- tp right side -->
		<div id="tp-right-side" class="col-md-4 tp-right-side"></div>
    	<!-- /.tp right side -->
    	<div id="tp-full" class="col-md-12 tp-full"></div>
    </div>
</div>