<li class="list-li deactivated" id="nav-card-panel-aumento-mamas">
	<a href="#/aumento-mamas">Aumento de mamas</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-levantamiento-mamas">
	<a href="#/levantamiento-mamas">Levantamiento de mamas</a>
</li>
<li class="list-li deactivated" id="nav-card-panel-reduccion-mamas">
	<a href="#/reduccion-mamas">Reducción de mamas</a>
</li>