<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">AUMENTO DE MAMAS</h1>
            <p>
                El aumento de mamas o mamoplastia de aumento es uno de los procedimientos mas comunes de la cirugía plástica, ya sea por indicación estética o por reconstrucción. Mediante este procedimiento aquellas mujeres que no están satisfechas con el tamaño de la mama o que han experimentado cambios en su aspecto, pueden lograr que estos se vean de mejor forma.
            </p>
            <p>
                El implante se coloca dentro de un bolsillo que se forma en el tejido mamario, esto puede contribuir a aumentar o equilibrar el tamaño de la mama recuperar el volumen o la forma que tenia.
            </p>
            <img src="img/sections/breastsurgery/aumento-de-mama.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>
                La paciente se evaluará en forma habitual con anamnesis donde interesan especialmente los aspectos como lactancia, embarazos, antecedentes de cáncer mamario en la familia, tabaquismo, actividad física y antecedentes de patología mamaria.
            </p>
            <p>
                En el examen físico, además de lo general se evalúa la forma del tórax, ubicación, asimetrías, tamaño y forma de las mamas, elasticidad de la piel, ubicación, tamaño y forma del complejo aréola-pezón. Se evalúa el espesor de los tejidos de la mama en sus distintos cuadrantes.
            </p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>