	<div class="container">
		<div class="row">
			<div class="col-md-6 ft-abt-blk"><!-- about block-->
				<div class="ft-logo">
					<img class="img-foot" src="img/logo/skin-surgery-white.png" alt="">
				</div>
			</div>
			<!-- /.about block-->
			<div class="col-md-3  ft-add"><!-- address -->
				<h2 class='resp-text-center'>Llámanos.</h2>
				<ul>
					<li class="white underline-from-center">Telefonos
						<ul>
							<li class="white underline-from-center">(33) 3631 1944</li>
						</ul>
					</li>
					<li class="white underline-from-center">Celular
						<ul>
							<li class="white underline-from-center">(33) 2255 7223</li>
							<li class="white underline-from-center">(33) 1020 5292</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- /.address -->
			<div class="col-md-3 ft-add"><!-- address -->
				<h2 class='resp-text-center'>Domicilio</h2>
				<ul>
					<li class="li-list white underline-from-center">Justo Sierra No. 2372,</li>
					<li class="li-list white underline-from-center">Col. Ladrón de Guevara,</li>
					<li class="li-list white underline-from-center">Guadalajara, Jalisco.</li>
					<li><a class="links white underline-from-center" href="mailto:contacto@mayomanzo.com">contacto@mayomanzo.com</a></li>
					<li>
						<div class="toolbar-icon-social">
		                    <a class="icon-social shadow-facebook bg-icon-color-facebook" href="https://www.facebook.com/Mayo-Manzo-Cirug%C3%ADa-Pl%C3%A1stica-622138891222247/" target="_blank">
		                        <i class="icon-color fa fa-facebook"></i>
		                    </a>
		                </div>
		                <div class="toolbar-icon-social">
		                    <a class="icon-social shadow-twitter bg-icon-color-twitter" href="https://twitter.com/mayomanzo" target="_blank">
		                        <i class="icon-color fa fa-twitter"></i>
		                    </a>
		                </div>
					</li>
				</ul>
			</div>
			<!-- /.address -->
		</div>
		{{!--<div class="row ft-row-two">
			<div class="col-md-2 ft-links"><!-- link block -->
				<h2>Quick Links</h2>
				<ul>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">About us</a></li>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">Treatments</a></li>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">Before/After</a></li>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">Doctors</a></li>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">FAQ's</a></li>
					<li><i class="mdi-navigation-arrow-forward"></i><a href="javascript:void(0)">Career</a></li>
				</ul>
			</div>
			<!-- /.link block -->
			<div class="col-md-4  ft-appoint ft-links"><!-- link form -->
				<h2>Appointment Request </h2>
				<p>Request an appointment today with surgone who are currently accepting new patients.</p>
				<ul>
					<li><i class="mdi-communication-call"></i>(800)-123-4444</li>
					<li><i class="mdi-editor-border-color"></i><a href="#">Online Appointment</a></li>
				</ul>
			</div>
				<!-- link form -->
				<div class="col-md-3"><!-- ft-block -->
				<h2>Have Question?</h2>
				<p>Submit your question below about any cosmetic Skin surgery or medicine procedure. </p>
				<a href="javascript:void(0)" class="btn btn-primary btn-raised tp-btn-regular">Ask Questions</a> 
			</div>
			<!-- ft-block -->
			<div class="col-md-3 ft-newsletter"><!-- newsletter -->
				<h2>Newsletter</h2>
				<p>Subscribe to Newsletters for more information and updates</p>
				<div class="form-group">
					<form method="post" action="newsletter.php">
						<label class="control-label sr-only" for="inputDefault">Default input</label>
						<input name="email" type="text" class="form-control" id="inputDefault" placeholder="Enter Email Address">
						<button type="submit" class="btn tp-btn-regular">Submit</button>
					</form>
				</div>
			</div>
			<!-- newsletter --> 
		</div>--}}
	</div>