<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">CIRUGIA DE MEJILLA</h1>
            <p>La extirpación de las Bolsas adiposas de Bichat es una técnica quirúrgica para adelgazar la zona media de la cara. Puede ser realizado como un procedimiento primario para mejorar el contorno facial, o en combinación con otras técnicas quirúrgicas.</p>
            <img src="img/sections/facialsurgery/mejilla.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>El mejor candidato para la extirpación de las Bolsas de Bichat, es un individuo de peso relativamente normal que posee un exceso de grasa en la zona media de la cara (mejilla). Una piel firme y elástica lleva a un mejor contorno final después de la extirpación de las Bolsas de Bichat. La piel muy colgante no se adapta al nuevo contorno y puede requerir técnicas quirúrgicas adicionales para eliminar y tensar el exceso de piel. Las irregularidades del contorno debidas a estructuras diferentes pueden ser mejoradas con esta cirugía.</p>
            <p>El procedimiento es relativamente sencillo y rápido, no incapacitante,  se realiza bajo anestesia local, puede realizarce en consultorio de forma completamente ambulatoria y con mínima molestia posquirúrgica. Sin citratrices visibles.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>