<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
        	<h1 class="ct-head-title">REJUVENECIMIENTO FACIAL</h1>
            <p>El envejecimiento facial es un proceso único y particular a cada individuo y está regido en especial por su carga genética. El Lifting facial, es una compleja técnica desarrollada en nuestra especialidad desde principios de siglo, para revertir los principales signos de este proceso. Los factores secundarios que gravitan en el envejecimiento facial son múltiples y por ello las ritidectomías o lifting cérvico faciales descritas han buscado corregir los cambios fisonómicos del envejecimiento.</p>
            <img src="img/sections/facialsurgery/Rejuvenecimiento-Facial.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Esta cirugía por lo tanto, exige conocimiento  de la anatomía quirúrgica y  pericia para reducir las complicaciones, estigmas quirúrgicos y revisiones secundarias. La corrección de la flaccidez va acompañada de un interés en reponer el volumen de la superficie del rostro, en especial el tercio medio. Las técnicas quirúrgicas de rejuvenecimiento, en especial el Lifting facial, exigen una planificación para cada paciente. Las técnicas adjuntas al Lifting como blefaroplastias, mentoplastia, lipoaspiración de cuello, implantes faciales y otras, también se pueden realizar en conjunto para llevar al paciente hacia éxito estético.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>