<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">BRAQUIOPLASTIA</h1>
            <div class="col-md-6 padding-0">
                <p>
                    La Braquioplastia es el procedimiento mediante el cual se mejora el contorno fláccido de los brazos resecando el exceso de piel y grasa. Su mayor indicación es en los casos donde la paciente presenta gran flaccidez por pérdida de peso como en las condiciones poscirugías del estómago por obesidad o por envejecimiento de la piel de los brazos.
                </p><p>
                    Los miembros superiores representan una unidad estético funcional muy importante en la definición del contorno corporal.
                </p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/bodycontour/Braquiplaastia-1.JPG" alt=". . ." class="img-responsive">
            </div>
            <div class="clearfix"></div>
            <p>
                Las deformidades de los miembros superiores son inherentes al proceso de envejecimiento y a la amplia gama de cambios corporales que acompañan a las pérdidas masivas de peso corporal. Entre las alteraciones que sufren los brazos destaca la lipodistrofia, que suele ir acompañada de ptosis de los tejidos de la zona. Sin embargo, en los pacientes que padecen grandes pérdidas de peso, la lipodistrofia no se limita por lo general a los brazos, sino que se extiende a la axila e incluso a la región torácica.
            </p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>