<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="cur-hover deactivated" id="navbar-nav-home">
                    <a id="go_home">inicio</a>
                </li>
                <li class="dropdown deactivated" id="navbar-nav-doctor"> 
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Dr. Manzo <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-curriculum">
                            <a href="#/curriculum">Currículum</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown deactivated" id="navbar-nav-corporal-control"> 
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Contorno Corporal <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-lipoescultura">
                            <a href="#/lipoescultura">Lipoescultura</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-lipectomia">
                            <a href="#/lipectomia">Lipectomía, tummy tuck, cirugía de contorno corporal.</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-increased-gluteo">
                            <a href="#/aumento-gluteo">Aumento de gluteo, BBL</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-mommy-makeover">
                            <a href="#/mommy-makeover">Mommy Makeover</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-increased-calf">
                            <a href="#/aumento-pantorrilla">Aumento de Pantorrilla</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-increased-calf">
                            <a href="#/braquioplastia">Braquioplastía</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown deactivated" id="navbar-nav-breast-surgery"> 
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Cirugía de mamas <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-breast-augmentation">
                            <a href="#/aumento-mamas">Aumento de mamas</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-breast-lift">
                            <a href="#/levantamiento-mamas">Levantamiento de mamas</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-breast-reduction">
                            <a href="#/reduccion-mamas">Reducción de mamas</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown deactivated" id="navbar-nav-facial-surgery"> 
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Cirugía Facial <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-facelifts">
                            <a href="#/rejuvenicimiento-facial">Rejuvenecimiento facial</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-eyelid-surgery">
                            <a href="#/cirugia-parpados">Cirugía de parpados</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-nose-surgery">
                            <a href="#/cirugia-nariz">Cirugía de nariz</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-cheek">
                            <a href="#/cirugia-pomulos">Cirugía de pomulos</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-cheek-surgery">
                            <a href="#/cirugia-mejilla">Cirugía de mejilla</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-ear-surgery">
                            <a href="#/cirugia-orejas">Cirugía de orejas</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-lip-surgery">
                            <a href="#/aumento-labios">Aumento de labios</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-chin-augmentation">
                            <a href="#/aumento-menton">Aumento de menton</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown deactivated" id="navbar-nav-nonsurgical-procedures">
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        No quirúrgicos <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-botox-application">
                            <a href="#/toxina-botulinica-botox">Aplicación de botox en cara</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-excessive-sweating">
                            <a href="#/sudoracion-excesiva">Aplicación de botox para evitar sudoración excesiva</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-expression-furrows">
                            <a href="#/surcos-expresion">Aplicación de rellenos en labio, surcos de expresión</a>
                        </li>
                    </ul>
                </li>
                {{!--<li class="dropdown deactivated" id="navbar-nav-reconstructive-surgery"> 
                    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Reconstructiva <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">              
                        <li class="deactivated" id="navbar-nav-reconstruction-limb">
                            <a href="#/recontruccion-extremidad">Reconstrucción de extremidad</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-burns">
                            <a href="#/quemaduras">Quemaduras</a>
                        </li>
                        <li class="deactivated" id="navbar-nav-consequences-accidents">
                            <a href="#/secuelas-accidentes">Secuelas de Accidentes</a>
                        </li>
                    </ul>
                </li>--}}
                <li class="deactivated" id="navbar-nav-contact">
                    <a href="#/contacto">Contacto</a>
                </li>
                {{!--<li class="deactivated" id="navbar-nav-blog">
                    <a href="#/blog">Blog</a>
                </li>--}}
            </ul>
            {{!--
            <form class="navbar-form">
                <div class="form-control-wrapper">
                    <input type="text" class="form-control empty" placeholder="Search">
                    <button class="btn tp-btn-flat" type="button"><i class="mdi-action-search"></i></button>
                </div>
            </form>
            --}}
        </div>
    </nav>
</div>