<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">AUMENTO DE LABIOS</h1>
            <div class="col-md-6 padding-0">
	            <p>El aumento de labios es un procedimiento que sirve para mejorar el aspecto de los labios mediante la introducci칩n de una sustancia de relleno que puede ser reabsorbible (efecto temporal) o no reabsorbible (efecto duradero).</p>
	            <p>Se puede realizar mediante la inyecci칩n de diversos materiales con una aguja muy fina.  Inyecciones de relleno. La sustancia elegida se introduce mediante peque침as inyecciones. Se puede utilizar anestesia local para minimizar las molestias que se puedan producir. El procedimiento se realiza de forma ambulatoria. La duraci칩n del procedimiento oscila entre un cuarto de hora y tres cuartos de hora.</p>
            </div>
            <div class="col-md-6">
                <img src="img/sections/facialsurgery/labios.JPG" alt=". . ." class="img-responsive">
            </div>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>