<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">LEVANTAMIENTO DE MAMAS</h1>
            <h2 class="ct-head-subtitle">PTOSIS MAMARIA, LEVANTAMIENTO DE MAMAS, MASTOPEXIA.</h2>
            <p>
                La ptosis mamaria corresponde a una estética en la que se observa un descenso de la mama por debajo del pliegue inframamario. Son muchas las causas que se le atribuyen.
            </p>
            <p>
                La mastopexia se encuentra entre las cirugías mas solicitadas por mujeres de 25 a 50 años. Existe más de una clasificación de ptosis mamaria; sin embargo, la medición más efectiva de diagnóstico es el descenso de los pezones más allá de la línea transversal imaginaria que une el punto medio de cada brazo. 
            </p>
            <img src="img/sections/breastsurgery/Levantamiento-de-mama.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>
                Muchas veces a la ptosis mamaria se une una hipotrofia, es decir un tamaño pequeño de la mama que va a dificultar la corrección y el logro de un volumen adecuado, si no es mediante la colocación de un implante mamario.
            </p>
            <p>
                La corrección de la ptosis no se logra únicamente con la colocación de prótesis mamarias, sino que suele requerir otro procedimiento complementario. El error más frecuente es tratar de corregir la ptosis con la colocación de implantes más grandes de lo adecuado, dando como resultado una exaltación del defecto y una aparente obesidad de la paciente, así como la recidiva de la patología.
            </p>
            <p>
                Los objetivos de la cirugía de Mastopexia son:
            </p>
            <p>Podemos clasificar la liposucción en dos tipos:</p>
            <ul class="arrow-list">
                <li class="list-li">Lograr una mayor turgencia a las mamas.</li>
                <li class="list-li">Disminuir el diámetro transversal de ambas mamas.</li>
                <li class="list-li">Producir una proyección antero superior de la mama en vez de volumen.</li>
                <li class="list-li">Disminuir tamaño y peso.</li>
                <li class="list-li">Sobre todo, colocar el pezón en su posición ideal y sin recidiva. </li>
            </ul>
            <p>
                Por todo esto, es importante que cuando se requiera la colocación de un implante, éste sea del diámetro adecuado.
            </p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>