<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="tp-slider-box"> <img src="img/banner/lipoescultura.jpg" alt="Lipoescultura." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Lipoescultura</h1>
                                <p>La Liposucción consiste en extraer la grasa de partes localizadas del cuerpo.</p>
                                <a href="#/lipoescultura" class="btn btn-primary btn-raised tp-btn-small">Ver más...</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tp-slider-box"> 
                            <img src="img/banner/aumento-de-mama.jpg" alt="Aumento de mama." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Implante de mama</h1>
                                <p>Es uno de los procedimientos más comunes en cirugía plástica, ya sea para fines estéticos o reconstructivos.</p>
                                <a href="#/aumento-mamas" class="btn btn-primary btn-raised tp-btn-small">Ver más...</a> 
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tp-slider-box"> 
                            <img src="img/banner/mommy-makeover.jpg" alt="Mammy Makeover." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Mommy makeover</h1>
                                <p>Permite realizar en una sola intervención retoques estéticos como abdominoplastia, liposucción y aumento, reducción o elevación de mamas.</p>
                                <a href="#/mommy-makeover" class="btn btn-primary btn-raised tp-btn-small">Ver más...</a> 
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tp-slider-box"> 
                            <img src="img/banner/rejuvenecimiento.jpg" alt="Rejuvenecimiento Facial." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Rejuvenecimiento facial</h1>
                                <p>Cirugía estética en la cual se pueden corregir la flacidez y arrugas de cara y cuello, la cual se puede combinar con otros procedimientos, como blefaroplastia.</p>
                                <a href="#/rejuvenicimiento-facial" class="btn btn-primary btn-raised tp-btn-small">Ver más...</a> 
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tp-slider-box"> 
                            <img src="img/banner/gluteos.jpg" alt="Aumento de gluteo." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Aumento de glúteo</h1>
                                <p>También conocido como Brazilian But Lift, se puede realizar con inyección de su propia grasa o con implante de silicón.</p>
                                <a href="#/aumento-gluteo" class="btn btn-primary btn-raised tp-btn-small">Ver más...</a> 
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="tp-slider-box"> 
                            <img src="img/banner/feminizacion.jpg" alt="Feminización." class="img-responsive">
                            <div class="slider-caption">
                                <h1>Feminización</h1>
                                <p>Feminización de cara y cuerpo.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>