<div class="card-panel">
    <div class="row tp-contact-us" id="tp-contact-us"><!-- tp-contact-us -->
        <div class="col-md-12 ct-head">
            <h1 class="ct-head-title">AUMENTO DE MENTON</h1>
            <p>El mentón es un elemento de gran importancia en el equilibrio de los contornos faciales. La mentoplastia es un procedimiento quirúrgico cuyo objetivo es realizar cambios en el aspecto del mentón, dichas modificaciones se llevan a cabo en diferentes planos del espacio, pues con esta cirugía estética se logra la reducción o aumento de la proyección del mentón, cambio en su altura o bien una mejoría en su forma.</p>
            <img src="img/sections/facialsurgery/menton.jpg" alt=". . ." class="img-responsive" style="margin-bottom: 30px;">
            <p>Proporciona muy buen refinamiento y armonía del perfil y puede realizarse en forma aislada o conjuntamente con otros procedimientos quirúrgicos cosméticos, como: rinoseptumplastia, blefaroplastia, rejuvenecimiento facial, lipectomía submentoniana, entre otros.</p>
        </div>
    </div>
    <!-- /.tp-contact-us--> 
</div>