<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
            <div class="info">
                Programa de prevención para tu salud. <br> La prevención es la mejor inversión.
            </div>
            <div class="sub-title mbm">
                <strong>Sabías que:</strong> <br> La importancia de checarse es la forma de identificar factores de riesgo que pueden ser modificables. Puedes detectar a tiempo y prevenir problemas como:
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="get-appointment">
                <div class="pull-left text-left">
                    <h2 class="mtn">Laboratorios de análisis clínicos.</h2>
                    <h2 class="mtn mbn resp-none"><strong>Consulta tus Resultados.</strong></h2>
                </div>
                <div class="pull-right">
                    <a href="http://interlab7.com/ucd/" target="_blank" class="btn btn-success btn-outlined btn-22" id="change-legend"></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="list-features">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons oh-organ-humans-heart"></span>
                            <span class="title">Problemas <br> cardiovasculares</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Hipertensión</li>
                                    <li>Isquemia cardiaca</li>
                                    <li>Obstrucción coronaria</li>
                                    <li>Síndrome metabólico</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons oh-organ-humans-kidneys"></span>
                            <span class="title">Hemodiálisis <br> y diálisis</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Piedras en los riñones</li>
                                    <li>Quistes</li>
                                    <li>ERC (Enfermedades Renal Crónica)</li>
                                    <li>Diálisis - Hemodiálisis</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons oh-organ-humans-liver"></span>
                            <span class="title">Problemas de <br> función hepática</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Higado graso</li>
                                    <li>Cirrosis hepática</li>
                                    <li>Hepatitis A,B y C</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <a id="go-program" class="btn-our-departments btn btn-success btn-outlined btn-18">VER<i class="fa fa-plus mll"></i></a></div>
        </div>
    </div>
</div>
