<div id="section-appointment" class="section bg-white pb-0 pt-80">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 col-sm-9">
                    <div class="box">
                        <div class="col-md-8 col-xs-12">
                            <img src="img/consult.jpg" alt="ucd adn" class="resp-image">
                        </div>
                        <div class="col-md-4 col-xs-12 text-left">
                            <div class="box-heading mtl mbl">INGRESA</div>
                            <div class="box-body form-get-an-appointment">
                                <form id="get-view-results" class="form-get-an-appointment">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label mll">
                                                    <span class="required">
                                                        <i class="fa fa-asterisk fa-fw fa-lg"></i>
                                                    </span>
                                                    USUARIO
                                                </label>
                                                <input type="text" name="vr-get-user" id="vr-get-user" class="form-control" maxlength="50">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label mll">
                                                    <span class="required">
                                                        <i class="fa fa-asterisk fa-fw fa-lg"></i>
                                                    </span>
                                                    CONTRASEÑA
                                                </label>
                                                <input type="password" name="vr-get-password" id="vr-get-password" class="form-control" maxlength="25">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6 mtl mbl text-center">
                                            <input type="reset" value="Limpiar" class="btn btn-outlined btn-primary btn-resp">
                                        </div>
                                        <div class="col-md-6 mtl mbl text-center">
                                            <input type="button" value="Login" name="send-login" id="send-login" class="btn btn-outlined btn-primary btn-resp">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!--
<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
        </div>
        <div class="section-content">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6 col-xs-12">
                            <img src="img/consult.jpg" alt="ucd adn" class="resp-image">
                        </div>
                        <div class="col-md-6 col-xs-12 text-left">
                        <div class="box">
                                    <div class="box-heading">Your details</div>
                                    <div class="box-body">
                                        <form action="#" class="form-get-an-appointment">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6"><label class="control-label mll">Your name <span class="required">*</span></label><input type="text" class="form-control"/></div>
                                                    <div class="col-md-6"><label class="control-label mll">Your birth <span class="required">*</span></label><input type="date" placeholder="dd/mm/yy" class="form-control"/></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6"><label class="control-label mll">Your phone <span class="required">*</span></label><input type="text" class="form-control"/></div>
                                                    <div class="col-md-6"><label class="control-label mll">Your email <span class="required">*</span></label><input type="text" class="form-control"/></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6"><label class="control-label mll">Appointment date <span class="required">*</span></label><input type="date" placeholder="dd/mm/yy" class="form-control"/></div>
                                                    <div class="col-md-6"><label class="control-label mll">Select Department <span class="required">*</span></label><select class="form-control">
                                                        <option val=""></option>
                                                        <option val="1">Dental</option>
                                                        <option val="2">cardiology</option>
                                                        <option val="3">neurology</option>
                                                        <option val="4">Drugstore</option>
                                                        <option val="5">x-ray</option>
                                                        <option val="6">birth</option>
                                                        <option val="7">general</option>
                                                        <option val="8">testing</option>
                                                        <option val="9">first-aid</option>
                                                        <option val="10">immunizations</option>
                                                        <option val="11">pulmonary</option>
                                                    </select></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12"><label class="control-label mll">Subject <span class="required">*</span></label><input type="text" class="form-control"/></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12"><label class="control-label mll">Message</label><textarea rows="8" class="form-control"></textarea></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12"><label class="control-label mll">Are you human? Enter the code you see</label>

                                                        <div class="form-captcha">
                                                            <div class="row">
                                                                <div class="col-md-5 prn"><img src="assets/images/img_captcha.jpg" alt="" class="img-responsive"/></div>
                                                                <div class="col-md-1 pln"><a href="#" class="captcha-refresh"><i class="fa fa-refresh fa-2x"></i></a></div>
                                                                <div class="col-md-6"><input type="text" class="input-captcha form-control"/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mtxxl">
                                                <div class="row">
                                                    <div class="col-md-12 text-center"><input type="submit" value="Book Appointment" class="btn btn-outlined btn-primary"/></div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="alert"><i class="fa fa-check mrl"></i>Your appointment has been scheduled !</div>
                                    </div>
                                </div>
                            <div id="consulta">
                              <p align="center"><strong><img src="images/intro.png" alt="" width="13" height="13"> Consulta tus Resultados</strong></p>
                              <form method="post" action="session.php" name="forma">
                                <table width="243" height="150" border="0" align="center" cellpadding="0" cellspacing="0">
                                  <tbody><tr height="40" bordercolor="#FFFFFF">
                                    <td width="113"><div align="right"><span class="Estilo411">Usuario</span>&nbsp;&nbsp;</div></td>
                                    <td width="187"><div align="center">
                                      <input type="text" name="usuario" size="21" maxlength="50">
                                    </div></td>
                                  </tr>
                                  <tr height="40" bordercolor="#FFFFFF">
                                    <td><div align="right"><span class="Estilo411">Contraseña</span>&nbsp;&nbsp;</div></td>
                                    <td><div align="center">
                                      <input type="password" name="contra" size="21" maxlength="25">
                                    </div></td>
                                  </tr>
                                  <tr height="35" bordercolor="#FFFFFF">
                                    <td colspan="2" align="center"><div align="right"> &nbsp;
                                      <input name="reset" type="reset" class="Estilo5" value="Borrar">
                                      &nbsp;&nbsp;
                                      <input name="submit" type="submit" class="Estilo5" value="Aceptar">
                                    </div></td>
                                  </tr>
                                </tbody></table>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
--}}

