<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
            <div class="info">
                Programa de prevención para tu salud. <br> La prevención es la mejor inversión.
            </div>
            <div class="sub-title mbm">
                <strong style="color: rgb(45,78,158);">
                    Sabías que:
                </strong>
                <br>
                La importancia de checarse es la forma de identificar factores de riesgo que pueden ser modificables. Puedes detectar a tiempo y prevenir problemas como:
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="list-features-globe-info">
                            <span class="icons oh-organ-humans-heart"></span>
                            <span class="title">Problemas <br> cardiovasculares</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Hipertensión</li>
                                    <li>Isquemia cardiaca</li>
                                    <li>Obstrucción coronaria</li>
                                    <li>Síndrome metabólico</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="list-features-globe-info">
                            <span class="icons oh-organ-humans-kidneys"></span>
                            <span class="title">Hemodiálisis <br> y diálisis</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Piedras en los riñones</li>
                                    <li>Quistes</li>
                                    <li>ERC (Enfermedades Renal Crónica)</li>
                                    <li>Diálisis - Hemodiálisis</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="list-features-globe-info">
                            <span class="icons oh-organ-humans-liver"></span>
                            <span class="title">Problemas de <br> función hepática</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info">
                            <span class="info">
                                <ul>
                                    <li>Higado graso</li>
                                    <li>Cirrosis hepática</li>
                                    <li>Hepatitis A,B y C</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section-features" class="section bg-white new-padding">
    <div class="container text-center">
        <div class="section-heading">
            <div class="info">
                Programa paciente saludable.
            </div>
            <div class="sub-title mbm">
                Unidad Clínica Diagnóstica te regala tu siguiente perfil ejecutivo.
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="row mbxxl">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_affiliation-program.png" alt="Afíliate a nuestro programa de paciente saludable." class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">Afíliate a nuestro programa de paciente saludable.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_free-profile.png" alt="Realiza un perfil preventivo" class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">Realizate un perfil preventivo.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_recommendation.png" alt="Recomienda a dos conocidos que se hagan nuestro perfil preventivo." class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">Recomienda a dos conocidos que se hagan nuestro perfil preventivo.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-heading">
            <div class="info">
                Obtén.
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="row mbxxl">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_preventive-profile.png" alt="Recibe tu siguiente perfil gratis." class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">Recibe tu siguiente perfil gratis.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_permanent-discount.png" alt="30% de descuento permanente en nuestro estudio clínico y perfiles." class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">30% de descuento permanente en nuestro estudio clínico y perfiles. <i class="fa fa-asterisk fa-fw" style="font-size: 9px;"></i></p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <a class="healthcare-patient">
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <img src="img/healthcare-icons/healthcare_health-monitoring.png" alt="Red de especialistas." class="img-responsive"/>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6">
                                    <p class="list-departments-description">Red de médicos especialistas. Consultas médicas a precio especial programa paciente saludable.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mbxxl">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p style="text-align: right; margin-right: 10%;"><i class="fa fa-asterisk fa-fw" style="font-size: 9px;"></i> Aplican Condiciones.</i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section-features" class="section bg-white new-padding">
    <div class="container text-center">
        <div class="section-heading">
            <div class="info" style="width: 90%;">
                <strong style="color: rgb(45,78,158);">
                    ¿Porque debo realizarme dos veces al año análisis de laboratorio?
                </strong>
                <br>
            </div>
            <div class="sub-title mbm">
                Según los expertos un 90% de las patologías se pueden prevenir por medio de un análisis de laboratorio. <br>De ahí la importancia de adoptar esta buena práctica.
            </div>
            <div class="sub-title mbm">
                Dentro de nuestro programa de prevención para tu salud, laboratorio Unidad Clínica Diagnóstica te ofrece:
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="row mbxxl">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="right">Vigilancia de la salud.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_vigilancia-de-la-salud.png" alt="Vigilancia de la salud." class="img-responsive"/>
                                </div>
                                {{!--<span class="list-departments-line-left"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="right">Corregir deficiencias.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_corregir-deficiencias.png" alt="Corregir deficiencias." class="img-responsive"/>
                                </div>
                                {{!--<span class="list-departments-line-left"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="right">Formación e información.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_formacion-e-informacion.png" alt="Formación e información." class="img-responsive"/>
                                </div>
                                {{!--<span class="list-departments-line-left"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="right">Medicaciones periódicas.</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_medicaciones-periodicas.png" alt="Medicaciones periódicas." class="img-responsive"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_prevencion.png" alt="Prevención." class="img-responsive"/>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="left">Prevención.</p>
                                    </div>
                                </div>
                                {{!--<span class="list-departments-line-right"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_perfil-ejecutivo-preventivo-ucd.png" alt="Perfil ejecutivo preventivo UCD." class="img-responsive"/>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="left">Perfil ejecutivo preventivo UCD.</p>
                                    </div>
                                </div>
                                {{!--<span class="list-departments-line-right"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_evaluacion-clinica.png" alt="Evaluación clínica." class="img-responsive"/>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="left">Evaluación clínica.</p>
                                    </div>
                                </div>
                                {{!--<span class="list-departments-line-right"></span>--}}
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-4 col-xs-6 list-departments-icon">
                                    <img src="img/healthcare-icons/healthcare_prevencion-salud-100-pociento.png" alt="Prevención = Salud 100%." class="img-responsive"/>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-6 list-departments-description">
                                    <div>
                                        <p class="left">Prevención = Salud 100%.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
