<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
        </div>
        <div class="section-content col-md-12 col-sm-12 text-left">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-5 ptn col-sm-5">
                        <img src="img/services/adn3.jpg" alt="ucd adn" class="resp-image none-visible-xs">
                    </div>
                    <div class="col-md-7 ptn col-sm-12">
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Servicio Integral UCD</span>
                            </strong>
                            <ul class="list-process">
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i>
                                    Procesos en vía certificación ISO.
                                </li>
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i>
                                    Red medica UCD.
                                </li>
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i> Departamento de atención integral aseguradoras (sin costo).
                                </li>
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i>
                                    Ejecutivo especializado en atención al cliente en cada cuenta.
                                </li>
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i>
                                    Capacitación constante al personal en uso del sistema.
                                </li>
                                <li>
                                    <i class="fa fa-check fa-fw mrm"></i>
                                    Call center.
                                </li>
                            </ul>
                        </p>
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Servicios Adicionales UCD</span>
                            </strong>
                            <ul class="list-process">
                                <li>
                                    <i class="mt mt-medical-tools-empresarial fa-3x"></i>
                                    <em class="sub-title">Servicio Empresarial</em>
                                    <ul class="sub-list-process">
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Servicio especialmente diseñado para empresas y corporaciones.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Personal Altamente capacitado.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Servicio para todo tipo de empresas.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="mt mt-medical-tools-muestras fa-3x"></i>
                                    <em class="sub-title">Toma de muestras a domicilio</em>
                                    <ul class="sub-list-process">
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Toma de muestra en la comodidad de su hogar.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Personal altamente capacitado.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Servicios con previa cita.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Contamos con personal altamente capacitado para crear un traje a la medida para toma de muestras clínicas o imagen para su empresa sin importar el tamaño o número de empleados.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <i class="mt mt-medical-tools-clinicas fa-3x"></i>
                                    <em class="sub-title">Servicio de Referencia para Hospitales, Clínicas y Sector Gobierno</em>
                                    <ul class="sub-list-process ptxl">
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Contamos con servicio de referencia para consultorios y hospitales.
                                        </li>
                                        <li>
                                            <i class="fa fa-check fa-fw mrm"></i>
                                            Tecnología de punta.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

