<div id="section-features" class="section bg-white pbxxl">
    <div class="container text-center">
        <div class="section-content">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Perfiles UCD</span>
                            </strong>
                            <span class="parrafo pbm">
                                La&nbsp;valoración&nbsp;clínica&nbsp;de laboratorio de manera periódica puede prevenir enfermedades serias, de las cuales muchas pueden ser previstas, entre ellas hipertensión, diabetes, cáncer&nbsp;cérvicouterino, enfermedades renales o de próstata.
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Chequeo Médico UCD</span>
                            </strong>
                            <span class="parrafo pbm">
                                UCD ofrece a sus pacientes chequeos ejecutivos específicos creados a la medida de cada cuenta, creando un traje a la medida. Estos chequeos varían según los antecedentes médicos, laborales, el sexo y la edad del paciente.
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane" style="margin: 0;">
                            <strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Chequeo de Admisión</span>
                            </strong>
                            <span class="parrafo">
                                Nuestro laboratorio apoya empresas, consulados, universidades y escuelas en el servicio de “check up” de admisión necesarios en el ingreso de los nuevos miembros.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!--
<div id="section-what-we-do" class="section section-background pb-30">
    <div class="container text-center">
        <div class="section-heading">
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="row mbxxl">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo1.png" alt="PAQUETE PERFIL EJECUTIVO FEMENINO" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo2.png" alt="PAQUETE PERFIL EJECUTIVO MASCULINO" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo3.png" alt="PAQUETE PERFIL PEDIÁTRICO" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo4.png" alt="PAQUETE PERFIL PRENUPCIAL" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo5.png" alt="PAQUETE PERFIL MEABÓLICO" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <img src="img/promos/promo6.png" alt="PAQUETE PERFIL NEFROLOGÍA" class="img-responsive">
                    </div>
                </div>
            </div>
            <!--<a href="#" class="btn-our-departments btn btn-success btn-outlined btn-18">View all our departments<i class="fa fa-plus mll"></i></a>-->
        </div>
    </div>
</div>
--}}
