<div id="" class="section bg-white pdxl">
    <div class="container text-center">
        <div class="section-heading">
        </div>
        <div class="section-content">
            <div class="list-features">
            	<div class="row">
            		<div class="col-md-12 col-sm-12 col-xs-12">
				        <p align="justify" class="list-feature-tab-pane pbl">
				        	<strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Aviso de Privacidad de Datos Personales</span>
				        	</strong>
				        	<span class="parrafo pbm">
				        		Los datos personales de&nbsp;identificación que proporcione el&nbsp;cliente mediante el formato de&nbsp;solicitud de servicio (nombre, edad,&nbsp;fecha de nacimiento, domicilio,&nbsp;teléfono (s), correo electrónico,&nbsp;RFC, CURP), así como datos&nbsp;personales sensibles (Los datos&nbsp;personales resultados que se&nbsp;deriven de su historia clínica así&nbsp;como del resultado de los análisis&nbsp;clínicos y/o servicios solicitados) se&nbsp;mantendrán en la base de datos&nbsp;de UCD Unidad Clínica Diagnóstica&nbsp;mientras no contravenga las&nbsp;disposiciones legales de la materia&nbsp;y/o hasta que el cliente ejerza su&nbsp;derecho de “ARCO” (Derechos de&nbsp;Acceso, Rectificación, Cancelación&nbsp;y Oposición.) de conformidad a la&nbsp;Ley*.
				        	</span>
				        	<span class="parrafo ptm pbm">
				        		Los datos personales sensibles&nbsp;únicamente serán proporcionados&nbsp;a los médicos tratantes si así lo&nbsp;solicitan o a las personas que el&nbsp;cliente elija cuando así lo solicite&nbsp;por escrito.
				        	</span>
				        	<span class="parrafo ptm pbm">
				        		Los datos personales de&nbsp;identificación y los datos&nbsp;personales sensibles serán&nbsp;utilizados única y exclusivamente&nbsp;por UCD Unidad Clinica&nbsp;Diagnostica para fines estadísticos&nbsp;y de estudio de negocio de manera&nbsp;interna y no serán proporcionados&nbsp;a persona alguna sin previa&nbsp;autorización del cliente.
				        	</span>
				        	<span class="parrafo ptm pbm">
					        	Para cualquier aclaración, favor de&nbsp;comunicarse directamente al tel.&nbsp;(33) 15 88 22 23, o a través del&nbsp;correo electrónico&nbsp;
			        			<a href="mailto:info@ucd.com.mx">info@ucd.com.mx</a>
				        	</span>
				        	<span class="parrafo ptm pbm">
				        		EL PRESENTE AVISO DE&nbsp;PUBLICIDAD SE ENCUENTRA DE&nbsp;CONFORMIDAD A LA LEY&nbsp;FEDERAL DE PROTECCIÓN DE&nbsp;DATOS PERSONALES EN&nbsp;POSESIÓN DE LOS&nbsp;PARTICULARES.
				        	</span>
				        	<span class="parrafo ptm pbm">
				        		"ARCO" (ACCESO,&nbsp;RECTIFICACIÓN, CANCELACIÓN,&nbsp;OPOSICIÓN)
				        	</span>
				        	<span class="parrafo ptm pbm">
				        		Privacidad Para salvaguardar su&nbsp;privacidad utilizamos medidas de&nbsp;seguridad protegiendo los datos&nbsp;personales contra la pérdida, el&nbsp;mal uso y la alteración de&nbsp;información utilizada en nuestro&nbsp;sistema, conforme nuestro AVISO&nbsp;DE PRIVACIDAD publicado.
				        	</span>
				        </p>
				        <p align="justify" class="list-feature-tab-pane pbl">
				        	<strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Seguridad y confidencialidad</span>
				        	</strong>
				        	<span class="parrafo">
				        		UCD Unidad Clínica Diagnóstica ha&nbsp;celebrado convenios de&nbsp;confidencialidad con sus&nbsp;empleados respecto de cualquier&nbsp;tipo de información que obtengan&nbsp;de la Clínica y/o de sus clientes,&nbsp;así como también cuenta con los&nbsp;medios necesarios para restringir&nbsp;el acceso y mantener de manera&nbsp;confidencial la información.
				        	</span>
				        </p>
				        <p align="justify" class="list-feature-tab-pane pbl">
				        	<strong>
                                <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                <span class="title text-left pll mbl">Avisos</span>
				        	</strong>
				        	<span class="parrafo pbm">
				        		Información. Para dejar de recibir&nbsp;información por correo electrónico,&nbsp;cada mensaje de correo&nbsp;electrónico enviado contiene una&nbsp;manera sencilla y automatizada de&nbsp;dejar de recibir dichos mensajes o&nbsp;cambiar sus intereses. "Si desea&nbsp;hacerlo, simplemente siga las&nbsp;instrucciones al final de cualquier&nbsp;mensaje de correo electrónico."
				        	</span>
				        	<span class="parrafo ptm">
				        		Si ha recibido este correo&nbsp;electrónico y es no deseado o no&nbsp;solicitado, sírvase reenviar una&nbsp;copia de dicho correo con sus&nbsp;comentarios a&nbsp;
				        		<a href="mailto:info@ucd.com.mx">info@ucd.com.mx</a>.
				        		"Se revisará y se le dará&nbsp;continuidad".
				        	</span>
				        </p>
					</div>
            	</div>
            </div>
        </div>
    </div>
</div>
