<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading col-md-12 col-sm-12">
            <ul class="nav nav-tabs">
                <li role="presentation" class="tab-resp active">
                    <a href="#tab-ucd" aria-controls="tab-ucd" role="tab" data-toggle="tab">UCD</a>
                </li>
                <li role="presentation" class="tab-resp">
                    <a href="#tab-oep" aria-controls="tab-oep" role="tab" data-toggle="tab">Objetivos, Equipos y Personal</a>
                </li>
                <li role="presentation" class="tab-resp">
                    <a href="#tab-pl" aria-controls="tab-pl" role="tab" data-toggle="tab">Proceso de laboratorio</a>
                </li>
                <li role="presentation" class="tab-resp">
                    <a href="#tab-rec" aria-controls="tab-rec" role="tab" data-toggle="tab">Reconocimientos</a>
                </li>
            </ul>
        </div>
        <div class="section-content col-md-12 col-sm-12">
            <div class="list-features">
                <div class="row tab-content">
                    <div role="tabpanel" id="tab-ucd" class="tab-pane fade in active no_print">
                        <div class="col-md-5 ptn col-sm-5">
                            <img src="img/ucd/ucd-woman.jpg" alt="UCD WOMAN" class="resp-image none-visible-xs">
                        </div>
                        <div class="col-md-7 ptn col-sm-12">
                            <p align="justify" class="list-feature-tab-pane pbl">
                                <strong>
                                    <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                    <span class="title text-left pll mbl">Unidad Clínica Diagnóstica</span>
                                </strong>
                                <span class="parrafo">
                                    Somos un laboratorio comprometido con la mejora continua, con la firme convicción de brindar un trato tanto profesional como humano. Ofrecemos estudios clínicos con el más  alto estándar de confiabilidad, apegándonos a los más estrictos controles de calidad. La satisfacción total del cliente es lo más importante para nosotros.
                                </span>
                            </p>
                            <p align="justify" class="list-feature-tab-pane pbl">
                                <strong>
                                    <i class="mt mt-medical-tools-mision fa-3x"></i>
                                    <span class="title text-left pll mbl">Nuestra Misión</span>
                                </strong>
                                <span class="parrafo">
                                    Ofrecer estudios de rutina, alta especialidad y biología molecular con el más alto estándar de calidad, confiabilidad y control de calidad a todos nuestros pacientes, ya sean estos de hospitales, institutos privados, gobierno o empresas, bajo nuestros principales valores: la honestidad, el profesionalismo, el trato amable y la mejora continua.
                                </span>
                            </p>
                            <p align="justify" class="list-feature-tab-pane pbl">
                                <strong>
                                    <i class="mt mt-medical-tools-vision fa-3x"></i>
                                    <span class="title text-left pll mbl">Nuestra Visión</span>
                                </strong>
                                <span class="parrafo">
                                    Ser un laboratorio comprometido con los métodos y tecnologías más vanguardistas, entregado de tiempo completo a procesos de mejora continua.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-oep" class="tab-pane fade in no_print">
                        <div class="col-md-5 ptn col-sm-5">
                            <img src="img/ucd/ucd-woman.jpg" alt="UCD WOMAN" class="resp-image none-visible-xs">
                        </div>
                        <div class="col-md-7 ptn col-sm-12">
                            <p align="justify" class="list-feature-tab-pane pbl">
                                <strong>
                                    <i class="mt mt-medical-tools-objetivos fa-3x"></i>
                                    <span class="title text-left pll mbl">Objetivos</span>
                                </strong>
                                <span class="parrafo pbm">
                                    Proporcionar resultados de máxima calidad para los pacientes, con exactitud y reproducibilidad más comparables, en diferentes poblaciones y zonas geográficas mediante la calibración según patrones y métodos de referencia reconocidos internacionalmente.
                                </span>
                                <span class="parrafo pbm ptm">
                                    Pensando en la comodidad &nbsp;y tiempo de nuestros médicos ofrecemos consulta &nbsp;de resultados vía web optimizando tiempo&nbsp; “Médico-Laboratorio-Paciente” creando una base de datos personalizada de sus pacientes para históricos y estadísticas.
                                </span>
                                <span class="parrafo ptm">
                                    Desde la comodidad de su consultorio podrá accesar a nuestra base de datos con su usuario y contraseña personalizada para consulta de resultados e históricos de sus pacientes en tiempo real una vez validado el resultado por nuestro personal autorizado. Este servicio se encuentra disponible las 24 hrs. con acceso desde cualquier dispositivo con internet.
                                </span>
                            </p>
                            <p align="justify" class="list-feature-tab-pane pbl">
                                <strong>
                                    <i class="mt mt-medical-tools-equipos fa-3x"></i>
                                    <span class="title text-left pll mbl">Nuestros Equipos</span>
                                </strong>
                                <span class="parrafo">
                                    Son completamente automatizados de ultima generación cuentan con identificación del paciente vía código de barras el cual nos da identificación rápida de muestras en extracciones, facilidad de trabajo con auto analizadores y fiabilidad absoluta.
                                </span>
                            </p>
                            <p align="justify" class="list-feature-tab-pane" style="margin: 0;">
                                <strong>
                                    <i class="mt mt-medical-tools-personal fa-3x"></i>
                                    <span class="title text-left pll mbl">Nuestro Personal</span>
                                </strong>
                                <span class="parrafo pbm">
                                    Se encuentra a su disposición para cualquier duda en relación a sus pacientes, históricos de resultados y dudas en procesos.
                                    Pensando en la comodidad y tiempo de nuestros médicos ofrecemos consulta de resultados vía web optimizando tiempo "Médico-Laboratorio-Paciente" creando una base de datos personalizada de sus pacientes para históricos y estadísticas.
                                </span>
                                <span class="parrafo pbm ptm">
                                    Desde la comodidad de su consultorio podrá accesar a nuestra base de datos con su usuario y contraseña personalizada para consulta de resultados e históricos de sus pacientes en tiempo real una vez validando el resultado por nuestro personal autorizado.
                                </span>
                                <span class="parrafo">
                                    Este servicio se encuentra disponible las 24 hrs. desde cualquier dispositivo de escritorio y móvil con acceso a internet.
                                </span>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-pl" class="tab-pane fade in no_print">
                        <div class="col-md-10 col-md-offset-1 ptn col-sm-12 text-left">
                            <p align="justify" class="list-feature-tab-pane-large pbl">
                                <strong class="list-feature-icon">
                                    <i class="mt mt-medical-tools-ucd fa-3x"></i>
                                </strong>
                                <span class="parrafo-lage">
                                    En <b>UCD Unidad Clínica Diagnóstica</b> llevamos cuidadosamente el control y seguimiento a bancos de sangre, unidades de trasplantes, salas de hemodiálisis y servicios hospitalarios&nbsp; cumpliendo con las mas altas normas, siempre a la vanguardia con una experiencia de mas de 15 años en el mercado.
                                    <span class="space-block ptm ptl"></span>
                                    Consulta e imprime tus resultados vía web desde la comodidad de cualquier lugar y así optimizas tiempo "Médico-Laboratorio-Paciente".
                                </span>
                            </p>
                            <p align="justify" class="list-feature-tab-pane">
                                <strong>
                                    <i class="mt mt-medical-tools-laboratorio fa-3x"></i>
                                    <span class="title text-left pll">Proceso de Laboratorio</span>
                                </strong>
                                <ul class="list-process">
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Mínima manipulación de la muestra del paciente al utilizar solamente tubo primario y etiqueta código de barras.
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Equipos totalmente automatizados e interfazados.
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Revisión de resultados en tiempo real (previa validación químico responsable).
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Históricos de pacientes.
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Exámenes de urgencia.
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Ratificación de estudios (sin costo).
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Control de calidad BIO RAD (control mundial de calidad).
                                    </li>
                                    <li>
                                        <i class="fa fa-check fa-fw mrm"></i>
                                        Protocolos Abbott (Ngal, antigeno HVC, HE4).
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-rec" class="tab-pane fade in no_print">
                        <div class="col-md-10 col-md-offset-1 ptn pdxxl col-sm-12 text-left">
                            <div class="row mbxxl">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <img src="img/recognitions/reconocimiento3.png" alt="RECONOCIMIENTOS" class="img-responsive">
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <img src="img/recognitions/reconocimiento.png" alt="RECONOCIMIENTOS" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

