<div id="" class="section bg-white pb-30">
    <div class="container text-center">
        <div class="section-heading">
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="row mbxxl">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <img src="img/recognitions/reconocimiento3.png" alt="RECONOCIMIENTOS" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <img src="img/recognitions/reconocimiento.png" alt="RECONOCIMIENTOS" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
