<div id="" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
            <div class="title">Proyecto Servicio Integral Tamiz Metabolico Neonatal</div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <span class="title text-left mbl" style="font-size: 19px;">
                                En TAMIZGEN Laboratorio de Tamizaje Neonatal nuestra misión es mejorar las vidas de los niños y sus familias, mediante el trabajo y proceso para evitar discapacidades y muertes resultantes de trastornos metabólicos detectables a través del Tamizaje Neonatal.
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <span class="title text-left mbl" style="font-size: 19px;">
                                El objetivo de TAMIZGEN es ver que cada bebé recién nacido donde se ha implementado el programa integral de Tamizaje Neonatal TAMIZGEN ingresen con la finalidad de educar a los padres y los proveedores de atención médica pediátrica sobre disposición de detección en errores innatos del metabolismo con una atención integral del recién nacido y la importancia de obtener resultados a corto plazo resaltando la importancia de las pruebas de Tamizaje Neonatal en tiempo, como pruebas de confirmación inmediata como su posterior tratamiento (por parte de Secretaria de Salud) y su gestión cuando sea necesario por parte de nuestros ejecutivos.
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane" style="margin: 0;">
                            <strong>
                                <span class="title text-left mbl" style="font-size: 19px; font-weight: bold;">En TAMIZGEN estamos trabajando para:</span>
                            </strong>
                            <span align="justify" style="margin: 0;" class="parrafo pbm text-left">
                                <div align="justify" class="list-parrafo">
                                    <span style="display: block;">
                                        Mejorar el conocimiento de los trastornos metabólicos detectables a través de análisis de recién nacidos con la mejor plataforma a nivel mundial. (Perkin Elmer).
                                    </span>
                                    <span style="display: block;">
                                        Facilitar la comunicación entre los programas de Tamizaje Neonatal y Regiones Sanitarias.
                                    </span>
                                    <span style="display: block;">
                                        Fomentar la identificación clínica inmediata de los recién nacidos afectados.
                                    </span>
                                    <span style="display: block;">
                                        Mejorar los recursos para la evaluación del recién nacido incluyendo las pruebas, los padres, los programas de atención de seguimiento a corto plazo, los programas de seguimiento a largo plazo para el tratamiento / gestión y servicios afines.
                                    </span>
                                    <span style="display: block;">
                                        Promover la prestación de servicios entre los programas de Tamizaje Neonatal del estado.
                                    </span>
                                </div>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
