
<div id="section-features" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
            {{!--<div class="info">
                Proyecto Servicio Integral <br> Tamiz Metabolico Neonatal.
            </div>--}}
            <div class="sub-title mbm">
                En <strong>TAMIZGEN Laboratorio de Tamizaje Neonatal</strong> nuestra misión es mejorar las vidas de los niños y sus familias, mediante el trabajo y proceso para evitar discapacidades y muertes resultantes de trastornos metabólicos detectables a través del Tamizaje Neonatal.
            </div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="get-appointment">
                <div class="text-center">
                    <h2 class="mtn">Proyecto Servicio Integral</h2>
                    <h2 class="mtn mbn resp-none"><strong>Tamiz Metabolico Neonatal.</strong></h2>
                </div>
                {{!--
                <div class="pull-right">
                    <a href="http://interlab7.com/ucd/" target="_blank" class="btn btn-success btn-outlined btn-22" id="change-legend"></a>
                </div>
                <div class="clearfix"></div>
                --}}
            </div>
            <div class="list-features">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons ai-analyticon-preanalytic-process"></span>
                            <span class="title">Proceso <br> Pre-Analítico</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info clearfix">
                            <span class="info">
                            	<p>Recepción, revisión y conteo de muestras para verificación de oficio que envía cada región sanitaria.</p>
                                {{!--<ul>
                                    <li>Hipertensión</li>
                                    <li>Isquemia cardiaca</li>
                                    <li>Obstrucción coronaria</li>
                                    <li>Síndrome metabólico</li>
                                </ul>--}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons ai-analyticon-analytic"></span>
                            <span class="title">Proceso <br> Analítico</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info clearfix">
                            <span class="info">
                            	<p>Recepción y revisión de muestras en Laboratorio Central para su óptimo montaje y procesamiento.</p>
                                {{!--<ul>
                                    <li>Piedras en los riñones</li>
                                    <li>Quistes</li>
                                    <li>ERC (Enfermedades Renal Crónica)</li>
                                    <li>Diálisis - Hemodiálisis</li>
                                </ul>--}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons ai-analyticon-post-analytic"></span>
                            <span class="title">Proceso <br> Post Analítico</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info clearfix">
                            <span class="info">
                                <p>Entrega de resultados en formato físico a Secretaria de Salud.</p>
                                {{!--<ul>
                                    <li>Higado graso</li>
                                    <li>Cirrosis hepática</li>
                                    <li>Hepatitis A,B y C</li>
                                </ul>--}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <a id="go-program" class="list-features-globe-info">
                            <span class="icons ai-analyticon-tracing"></span>
                            <span class="title">Seguimiento <br> pacientes TAMIZGEN</span>
                        </a>
                        <div class="col-md-12 col-sm-12 col-xs-12 list-features-list-info clearfix">
                            <span class="info">
                                <p>Nuestro personal da aviso a la región sanitaria correspondiente en caso de muestra inadecuada o sospechosa.</p>
                                {{!--<ul>
                                    <li>Higado graso</li>
                                    <li>Cirrosis hepática</li>
                                    <li>Hepatitis A,B y C</li>
                                </ul>--}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <a id="go-features-services" class="btn-our-departments btn btn-success btn-outlined btn-18">VER<i class="fa fa-plus mll"></i></a></div>
        </div>
    </div>
</div>
