<div id="header">
    <div class="container">
        <div class="logo legend-logo">
        	<a class="cur-hover" id="go-index-logo">
        		<img src="img/logo/logo-tamizgen.png" alt="" class="img-responsive"/>
        	</a>
        </div>
        <nav class="menu">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-home">
                	<a class="cur-hover" id="go-index">Inicio</a>
                </li>
                <li class="list-inline-about-us">
                	<a class="cur-hover" id="go-about-us">Nosotros</a>
                </li>
                <li class="list-inline-services">
                	<a class="cur-hover" id="go-services">Servicios</a>
                </li>
                <li class="list-inline-objectives">
                	<a class="cur-hover" id="go-objectives">Objetivos</a>
                </li>
                <li class="list-inline-contact">
                	<a class="cur-hover" id="go-contact">Contacto</a>
                </li>
            </ul>
        </nav>
        <div class="menu-responsive">
        	<span class="fa fa-bars"></span>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
