<div id="slider">
    <div id="banner-sliders" data-ride="carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img src="img/banners/banner_tamizgen.jpg" alt="Tamizgen - Una gota de sangre, un regalo de Vida"/>
                <div class="carousel-caption">
                    <div class="heading animated fadeIn delay-2">
                        <span>Una gota de sangre, <br>
                        un regalo de Vida.</span>
                    </div>
                    {{!--
                    <div class="sub-heading animated fadeIn delay-3">
                        Existen <span>enfermedades silenciosas</span> y cuando aparecen los primeros <span>síntomas</span> es demasiado tarde.
                    </div>
                    <a href="#" class="btn btn-more animated fadeIn delay-4 btn-18">
                        Ver <i class="fa fa-plus"></i>
                    </a>--}}
                </div>
            </div>
        </div>
        {{!--<a href="#banner-sliders" data-slide="prev" class="left carousel-control">
            <span class="fa fa-arrow-left"></span>
        </a>
        <a href="#banner-sliders" data-slide="next" class="right carousel-control">
            <span class="fa fa-arrow-right"></span>
        </a>--}}
    </div>
</div>
