<div id="" class="section bg-white">
    <div class="container text-center">
        <div class="section-heading">
            <div class="title">Objetivos TAMIZGEN</div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-features">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-10">
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="ai-analyticon-medical-samples fa-3x"></i>
                                <span class="title text-left pll mbl">Lograr el 0% de muestras inadecuadas.</span>
                            </strong>
                            <span class="parrafo pbm">
                                (dando capacitación en cada Región Sanitaria al personal para el correcto manejo del paciente y muestra recabada).
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane pbl">
                            <strong>
                                <i class="ai-analyticon-patients fa-3x"></i>
                                <span class="title text-left pll mbl">100% de pacientes atendidos.</span>
                            </strong>
                            <span class="parrafo pbm">
                                (poder lograr un sistema integral de comunicación con cada centro de Salud y Laboratorio Central).
                            </span>
                        </p>
                        <p align="justify" class="list-feature-tab-pane" style="margin: 0;">
                            <strong>
                                <i class="ai-analyticon-preanalytic-process fa-3x"></i>
                                <span class="title text-left pll mbl">100% de muestras procesadas.</span>
                            </strong>
                            <span class="parrafo">
                                (Implementando la mejor tecnología a nivel mundial y equipos totalmente automatizados e interfasados).
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
