<div id="" class="section bg-white pb-30">
    <div class="container text-center">
        <div class="section-heading">
            <div class="title">Proyecto Servicio Integral TAMIZGEN</div>
            <div class="line"></div>
        </div>
        <div class="section-content">
            <div class="list-departments">
                <div class="isotope row mbxxl">
                    <div class="element-item col-md-6 col-sm-6 col-xs-6">
                        <div class="details">
                            <div class="title" style="font-weight: 500; font-size: 18px;">
                                Proceso Pre Analítico
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="thumb">
                            <figure>
                                <img src="img/services/Tamizgen-7-800x600.jpg" alt="Proceso Pre Analítico" class="img-responsive">
                                <figcaption>
                                    <a href="img/services/Tamizgen-7-1280x960.jpg" class="icons venobox"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="element-item col-md-6 col-sm-6 col-xs-6">
                        <div class="details">
                            <div class="title" style="font-weight: 500; font-size: 18px;">
                                Proceso Analítico
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="thumb">
                            <figure>
                                <img src="img/services/Tamizgen-8-800x600.jpg" alt="Proceso Analítico" class="img-responsive">
                                <figcaption>
                                    <a href="img/services/Tamizgen-8-1280x960.jpg" class="icons venobox"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="element-item col-md-6 col-sm-6 col-xs-6">
                        <div class="details">
                            <div class="title" style="font-weight: 500; font-size: 18px;">
                                Proceso Post Analítico
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="thumb">
                            <figure>
                                <img src="img/services/Tamizgen-9-800x600.jpg" alt="Proceso Post Analítico" class="img-responsive">
                                <figcaption>
                                    <a href="img/services/Tamizgen-9-1280x960.jpg" class="icons venobox"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="element-item col-md-6 col-sm-6 col-xs-6">
                        <div class="details">
                            <div class="title" style="font-weight: 500; font-size: 18px;">
                                Segimiento pacientes TAMIZGEN
                            </div>
                            <div class="line"></div>
                        </div>
                        <div class="thumb">
                            <figure>
                                <img src="img/services/Tamizgen-10-800x600.jpg" alt="Segimiento pacientes TAMIZGEN" class="img-responsive">
                                <figcaption>
                                    <a href="img/services/Tamizgen-10-1280x960.jpg" class="icons venobox"><i class="fa fa-search"></i></a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
