<div id="section-contact" class="section bg-white">
    <div class="container">
        <div class="section-heading text-center">
            <div class="title">Nuestra ubicación</div>
            <div class="line"></div>
        </div>
    </div>
    <div style="overflow:hidden;height:775px;width:100%;">
        <div id="gmap_canvas" class="map-holder" style="height:775px;width:100%;"></div>
    </div>
    <div class="container">
        <div class="section-content">
            <div class="row pb-70">
                <div class="col-md-6 col-sm-6">
                    <div class="box mbn">
                        <div class="box-heading">Envíanos un mensaje</div>
                        <div id="content-temporal-form-wrapper"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="box mbn">
                        <div class="box-heading">Contáctanos</div>
                        <div class="box-body">
                            <p>
                                UCD Unidad Clínica Diagnóstica.
                            </p>
                            <p>
                                Laboratorio Central.
                            </p>

                            <div class="contact-infos">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="http://ucd.com.mx/" target="_blank">
                                            <i class="fa fa-globe fa-fw"></i>
                                            ucd.com.mx
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-map-marker fa-fw"></i>
                                            Av. Hidalgo #2016 Col. Ladrón de Guevara, Guadalajara, Jalisco
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="fa fa-phone fa-fw"></i>
                                            <span class="span-unstyled">
                                                01 (33) 1809 8643,
                                                01 (33) 1809 8644
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@tamizgen.com.mx?subject=Información" "correo">
                                            <i class="fa fa-envelope fa-fw"></i>
                                            info@tamizgen.com.mx
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--<a href="#"><img src="assets/images/banner_faq.jpg" alt="" class="img-responsive"/></a></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
