<mobile-warning></mobile-warning>

<header class="l-header js-header">
  <a href="../../index.html" class="m-mobile-logo">
    <img src="assets/images/logos/nueva_vitara_logo.html" alt="Logo" class="m-mobile-logo__image">
  </a>
  <div class="m-header-menu js-header-menu">
    <ul class="m-header-menu__first-part">
      <li class="m-header-menu__first-part-item js-header-menu-item">
        <a href="../../testdrive.html" onclick="ga('send', 'event', 'Prueba de manejo', 'clic_button', 'Header');" class="m-header-menu__first-part-link">
          <span class="m-header-menu__first-part-label m-header-menu__first-part-label--drive">Manéjala<img src="assets/images/icons/general/drive_aqua.html" class="m-header-menu__first-part-link-icon"></span>
        </a>
      </li>
      <!--<li class="m-header-menu__first-part-item js-header-menu-item">
        <a href="#" class="m-header-menu__first-part-link">
          <span class="m-header-menu__first-part-label">Cotízala<img src="assets/images/icons/general/price_aqua.svg" class="m-header-menu__first-part-link-icon"></img></span>
        </a>
      </li>-->
    </ul>
    <ul class="m-header-menu__second-part">
      <li class="m-header-menu__second-part-item m-header-menu__features js-header-menu-item">
        <a class="m-header-menu__second-part-link js-menu-features" ng-click="legals.toggleMenuFeatures()">Features</a>
        <ul class="m-header-menu__sublist">
          <li class="m-header-menu__sublist-item">
            <a href="../../features/diseno.html" class="m-header-menu__sublist-link">Diseño</a>
          </li>
          <li class="m-header-menu__sublist-item">
            <a href="../../features/equipo.html" class="m-header-menu__sublist-link">Equipo</a>
          </li>
          <li class="m-header-menu__sublist-item">
            <a href="../../features/accesorios.html" class="m-header-menu__sublist-link">Accesorios</a>
          </li>
          <li class="m-header-menu__sublist-item">
            <a href="../../features/seguridad.html" class="m-header-menu__sublist-link">Seguridad</a>
          </li>
          <li class="m-header-menu__sublist-item">
            <a href="../../features/motor.html" class="m-header-menu__sublist-link">Motor</a>
          </li>
        </ul>
      </li>
      <li class="m-header-menu__second-part-item js-header-menu-item">
        <a href="../../personalizacion.html" class="m-header-menu__second-part-link">Personalización</a>
      </li>
      <li class="m-header-menu__second-part-item js-header-menu-item">
        <a href="../../galeria.html" class="m-header-menu__second-part-link">Galería</a>
      </li>
      <li class="m-header-menu__second-part-item js-header-menu-item">
        <a href="../../versiones.html" class="m-header-menu__second-part-link">Versiones y precios</a>
      </li>
    </ul>
  </div>
  <a class="m-mobile-menu-button js-open-menu" ng-click="legals.openMenu($event)"></a>
  <a class="m-mobile-close-menu js-close-menu" ng-click="legals.closeMenu($event)"></a>
</header>

<div class="l-legals js-full-content">
  <div class="m-legals">
    <div class="l-legals__header">
      <h1 class="m-legals__title">Términos legales</h1>
      <p class="m-legals__subtitle">Condiciones de las promociones</p>
    </div>
    <div class="l-legals__body">
      <p class="m-legals__text">
        Los precios exhibidos en este sitio web por Suzuki Motor de México (SMM) para la venta de cualquiera de sus vehículos están expresados en moneda nacional e incluyen el Impuesto al Valor Agregado (IVA, estipulado por ley en 16%). Otros pagos adicionales, tales como impuestos, tenencia, placas, seguros, equipamiento extra, etc., no se incluyen en dichos precios. SMM se reserva el derecho de realizar cambios en los precios de sus vehículos sin previo aviso (atendiendo a la influencia de diversos factores, como la paridad del dólar, impactos en el mercado, la inflación, otras condiciones en la economía del país, entre otros), por lo que el precio final ofrecido en concesionarias y/o distribuidores autorizados puede diferir del que aquí se expone.
      </p>
    </div>
  </div>
</div>

<footer class="m-footer">
  <a href="http://www.suzuki.com.mx/" onclick="ga('send', 'event', 'Footer', 'outbound_clic', 'Suzuki_home');" class="m-footer__suzuki-logo"><img src="assets/images/logos/suzuki.html" alt="Suzuki"></a>
  <p class="m-footer__copyright">Todos los derechos reservados Suzuki 2015</p>
  <ul class="m-footer__legals">
    <li class="m-footer__legals-item">
        <a href="../../legales.html" class="m-footer__legals-link">Términos legales</a>
    </li>
    <li class="m-footer__legals-item">
        <a href="../../aviso_privacidad.html" class="m-footer__legals-link">Aviso de privacidad</a>
    </li>
    <li class="m-footer__legals-item">
      <a href="http://www.globalsuzuki.com/" onclick="ga('send', 'event', 'Footer', 'outbound_clic', 'Suzuki_global');" target="_blank" class="m-footer__legals-link">Suzuki global</a>
    </li>
  </ul>
  <ul class="m-footer__social">
    <li class="m-footer__social-item">
      <a href="https://www.facebook.com/SuzukiAutosMexico" onclick="ga('send', 'event', 'Social', 'outbound_clic', 'Facebook');" class="m-footer__social-link" target="_blank">
        <img src="assets/images/icons/social/facebook.html" alt="Facebook" class="m-footer__social-icon">
      </a>
    </li>
    <li class="m-footer__social-item">
      <a href="https://twitter.com/suzuki_mex" onclick="ga('send', 'event', 'Social', 'outbound_clic', 'Twitter');" class="m-footer__social-link" target="_blank">
        <img src="assets/images/icons/social/twitter.html" alt="Twitter" class="m-footer__social-icon">
      </a>
    </li>
    <li class="m-footer__social-item">
      <a href="http://instagram.com/suzuki_mex" onclick="ga('send', 'event', 'Social', 'outbound_clic', 'Instagram');" class="m-footer__social-link" target="_blank">
        <img src="assets/images/icons/social/instagram.html" alt="Instagram" class="m-footer__social-icon">
      </a>
    </li>
  </ul>
</footer>
